/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default
{
	position: relative;
}

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: left;
	padding: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 9;
}
.theme-default .nivo-controlNav a {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px solid #CCD6D5;
	margin: 0px 5px;
	cursor: pointer;
	overflow: hidden;
	text-indent: 30px;
}
.theme-default .nivo-controlNav a.active {
	background: #F81F20;
	background: -moz-linear-gradient(top, #F81F20 0%, #B90405 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F81F20), color-stop(100%,#B90405));
	background: -webkit-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: -o-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: -ms-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: linear-gradient(to bottom, #F81F20 0%,#B90405 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );
}

.theme-default .nivo-directionNav a {
	overflow: hidden;
	text-indent: 30px;
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}