/* .container{width:100%;float:left;overflow:hidden} */
/* .container #content{padding:0 0 0 230px;font:16px PTSN Regular;color:#010000} */
.container #content .category-title{font:30px "PTSN Bold";color:#020000}
.bggradient{background: url("../images/articlebg.jpg") repeat-x;background-position: bottom;}

.container #content .article-category {margin:3px 5px}
.container #content .article-category div{background:none;display:inline-block}

.container #content .article-category .left-line{width:300px;border-bottom:1px solid #cbd5d4;margin:0 0 5px 0}

.container #content .article-category .name-title{text-align:center;font:18px "PTSN Bold";color:#cbd5d4;letter-spacing:10px;margin:5px 0 0 0;margin-right:-20px;margin-left:15px}

.container #content .article-category .right-line{margin:0 0 5px 25px;width:300px;border-bottom:1px solid #cbd5d4}

.container #content .tabbs-article{width:790px;float:left;}
.container #content .tabbs-article table{padding:0;border-collapse:collapse;width:796px}

.container #content .tabbs-article .content{font:14px PTSN Regular}

.container #content .tabbs-article .name{background:url(../images/pdTabBgrd.jpg) repeat-x}
.container #content .tabbs-article .name div{height:52px;float:left;text-align:center;background:url(../images/pdTabDevider.jpg) right no-repeat}
.container #content .tabbs-article .name div:last-child{background:none}

.container #content .tabbs-article .name div p{margin:15px 0 0 0}

.container #content .tabbs-article #tabname_179 p,#middle #container #content .tabbs-article #tabname_181 p{padding:0;margin:3px 0 0 0}

.container #content .tabbs-article .hide{display:none}

.container #content .tabbs-article .show{display:block}

.container #content .tabbs-article .name .nonactive{cursor:pointer;width:146px;padding:0 5px;text-align:center}
.container #content .tabbs-article .name .nonactive a{text-decoration:none;font:18px PTSN Regular;color:#030000}
.container #content .tabbs-article .name .nonactive a:hover{color:#e23333}

.container #content .tabbs-article .nonactive span{border-bottom:1px dotted #9fa4a6}

.container #content .tabbs-article .active{
/* width:144px; */
/* cursor:pointer; */
/* position:relative; */
left:-2px;
bottom:1px;
background:#e1ebed;
background:-moz-linear-gradient(top, #e1ebed 40%, #b7bcbd 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(40%, #e1ebed), color-stop(100%, #b7bcbd));
background:-webkit-linear-gradient(top, #e1ebed 40%, #b7bcbd 100%);
background:-o-linear-gradient(top, #e1ebed 40%, #b7bcbd 100%);
background:-ms-linear-gradient(top, #e1ebed 40%, #b7bcbd 100%);
background:linear-gradient(to bottom, #e1ebed 40%, #b7bcbd 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ebed', endColorstr='#b7bcbd', GradientType=0);
-webkit-box-shadow:1px -1px 3px 0 rgba(146,148,149,0.75);
box-shadow:1px -1px 3px 0 rgba(146,148,149,0.75)
}

.container #content .tabbs-article  .active a{text-decoration:none;color:#010000;font:18px PTSN Bold}

.container #content .tabbs-article .article-tab{float:left;margin-top:25px}
.container #content .tabbs-article .article-tab img{float:left; margin: 0 10px 0 0;}

.container #content .tabbs-article .article-tab .date{font:16px "PTSN Regular";color:#9fa4a6}

.container #content .tabbs-article .article-tab a{	
	text-decoration:none;
	border-bottom:1px solid #9fa4a6
}

.container #content .tabbs-article .article-tab p{float:left;width:71%;font-size:16px}

.container #content .tabbs-article .article-tab .detail{color:#23469a;font:12px "Arial";font-style:italic;}

.container #content .tabbs-article .article-tab .heading-article {width: 796px;background: url("../images/articlebg.jpg") repeat-x;background-position: bottom;clear: both;margin-top: 5px;float: none;}
.container #content .tabbs-article .article-tab .heading-article .fb-like{margin:0 0 0 7px}

.container #content .tabbs-article .article-tab .heading-article li.vk_like{margin:0 0 0 15px;width:100px}

.heading-article .star.on span {background-position: 0 -40px;}
/*.container #content .tabbs-article .article-tab .heading-article div{width:100%}*/
.container #content .tabbs-article .article-tab .heading-article div ul{list-style:none}

.container #content .tabbs-article .article-tab .heading-article div .li_fixed{margin-right:100px}


.container #content .tabbs-article .article-tab .heading-article div li{float:left;font:16px "PTSN Regular";padding:2px 3px}
.container #content .tabbs-article .article-tab .heading-article div li:first-of-type{width:270px}


.container #content .tabbs-article .article-tab .heading-article div li a{font:16px "PTSN Regular";color:#23469a;text-decoration:none;border-bottom:1px solid #9fa4a6}


.container #content .tabbs-article .page-list{border:1px solid #9fa4a6;float:left;width:768px;height:40px;margin:25px 0 20px 0;position:relative}
.container #content .tabbs-article .page-list .page-list-left,#middle #container #content .tabbs-article .page-list .page-list-right{padding:8px 10px 4px 10px;position:absolute}


.container #content .tabbs-article .page-list .page-list-left{border-right:1px solid #9fa4a6;left:0}


.container #content .tabbs-article .page-list .page-list-right{border-left:1px solid #9fa4a6;right:0}


.container #content .tabbs-article .page-list .page_list{position:absolute;width:100%;padding-top:6px;text-align:center}
.container #content .tabbs-article .page-list .page_list ul{list-style:none}


.container #content .tabbs-article .page-list li{display:inline;margin-right:5px}
.container #content .tabbs-article .page-list li:first-of-type{margin-right:15px}


.container #content .tabbs-article .page-list li:last-of-type{margin-left:15px}


.container #content .tabbs-article .page-list li a{font:20px PTSN Bold;color:#2550a0;text-decoration:none;border-bottom:1px solid #9fa4a6}
.container #content .tabbs-article .page-list li a:hover{color:#e23333}


.container #content .tabbs-article .page-list .active a{border:none;color:#000000}
.container #content .tabbs-article .page-list .active a:hover{cursor:default;color:#000000}


.container #content .update{width:100%;margin:15px 0;float:left}
.container #content .update img{float:left;margin:0 2px}


.container #content .update h3{font:18px "PTSN Bold";color:#000101;float:left}


.container #content .post-preview img{margin:0 10px 0 0;float:left}


.container #content .date{font:16px PTSN Regular;color:#9fa4a6}


.container #content .article-product-title{font:18px PTSN Bold;color:#000000}


.container #content .article-product{width:175px;display:inline-block;margin:5px 10px 25px 0}
.container #content .article-product .thumb{width:175px;height:100%;text-align:center}


.container #content .article-product .name{text-align:center}
.container #content .article-product .name a{width:175px;height:100%;color:#27489b;font:18px PTSN Regular;border-bottom:1px solid #9fa4a6;text-decoration:none}


.container #content .article-product .name a:hover{color:#bd0607}


.container #content .article-product .price{width:175px;height:100%;font:22px PTSN Bold;color:#020000;text-align:center}


.container #content .article-product .btn{width:175px;height:100%;padding:3px 0 0 0}
.container #content .article-product .btn .btn-buy-buy{width:70px;height:30px;display:block;text-decoration:none;font:20px PTSN Bold;color:#ffffff;margin:0 auto;text-align:center;background:#f81f20;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4MWYyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiOTA0MDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #f81f20 0, #b90405 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f81f20), color-stop(100%, #b90405));background:-webkit-linear-gradient(top, #f81f20 0, #b90405 100%);background:-o-linear-gradient(top, #f81f20 0, #b90405 100%);background:-ms-linear-gradient(top, #f81f20 0, #b90405 100%);background:linear-gradient(to bottom, #f81f20 0, #b90405 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f81f20', endColorstr='#b90405', GradientType=0);-webkit-box-shadow:1px 1px 3px 1px rgba(146,148,149,0.75);box-shadow:1px 1px 3px 1px rgba(146,148,149,0.75);-webkit-border-radius:3px;border-radius:3px}
.container #content .article-product .btn .btn-buy-buy:hover{background:#b90405;background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I5MDQwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmODFmMjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background:-moz-linear-gradient(top, #b90405 0, #f81f20 100%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #b90405), color-stop(100%, #f81f20));background:-webkit-linear-gradient(top, #b90405 0, #f81f20 100%);background:-o-linear-gradient(top, #b90405 0, #f81f20 100%);background:-ms-linear-gradient(top, #b90405 0, #f81f20 100%);background:linear-gradient(to bottom, #b90405 0, #f81f20 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b90405', endColorstr='#f81f20', GradientType=0)}

.container #content .read-more{font:18px PTSN Bold;color:#000203;margin:15px 0 0 0}
.container #content .read-more p{margin:0;padding:0}


.container #content .read-more a{font:18px PTSN Regular;text-decoration:none;border-bottom:1px solid #9fa4a6;color:#2550a0}
.container #content .read-more a:hover{color:#e23333}


.container #content .heading-article-view{margin:20px 0 30px 0;border:1px solid #e6ebea;width:768px;background:url("../images/articlebg.jpg") repeat-x}
.container #content .heading-article-view div{width:100%}

.container #content .heading-article-view div ul{list-style:none}


.container #content .heading-article-view div .li_fixed{margin-right:115px}


.container #content .heading-article-view div li{float:left;font:16px "PTSN Regular";padding:2px 3px}
.container #content .heading-article-view div li:first-of-type{width:270px}


.container #content .heading-article-view div li a{font:16px "PTSN Regular";color:#23469a;text-decoration:none;border-bottom:1px solid #9fa4a6}


.short_description_wrapper {
	text-align: justify;
}

.read_more_link {
	font-size: 12px;
}

.articles_title_link {
	font:18px "PTSN Bold";
}

.read_more_wrapper {
	text-align: right;
}

.keywords {
	clear: both;
	padding: 0 0 0 8px;
}


.article_categories
{	
	clear:both;	
	text-align: justify;	
	text-justify: newspaper;
	zoom:1;	
	text-align-last: kustify;	
	line-height: 0;
	font-size: 1px;	
	
	background: url(../images/pdTabBgrd.jpg) repeat-x;
}

.article_categories:after 
{
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.article_category
{	
	text-align: center;
	display: inline-block;		
	line-height: normal;
	/* font-size: 14px;	 */
	border-right: 1px #E1E7E6 solid;	
	vertical-align: middle;
	/* height:51px; */
}

.article_category_link {
	text-decoration: none;
	font: 18px PTSN Regular;
	color: #030000;
	
}

.article_category_link:hover {
	text-decoration: none;
}

.article_category_text_wrapper {
	width:129px;
	height: 51px;
}

.article_category_text {
	/* position: relative;
	top: 5px; */
}

.heading-article table {clear: both;margin-top: 3px;border-top: solid 5px white;padding-top: 5px;box-shadow: 0 -1px 2px #F0F0F0;}
.heading-article td {padding: 1px 10px;}
.article-tab img {padding: 0px 0px 10px 3px;}
.container #content .tabbs-article .article-tab {float: left;margin-top: 10px;background-color: white;box-shadow: 0 0px 4px #F0F0F0;border-top: 8px solid white;border-radius: 0px;margin-left: 8px;}