#container p.red
{
	font: 30px "PTSN Regular";
	color: #FF0102;
	margin: 58px 0 0 0;
}

#container p.bold
{
	font: 48px "PTSN Bold";
	color: #000;
	margin: 20px 0 20px 0;
}

#content #container
{
	font: 18px "PTSN Regular";
	color: #010000;
}

#content #container .breadcrumbs
{
	font: 14px "PTSN Regular";
	color: #010000;
}

#container a
{
	text-decoration: none;
	border-bottom: 1px dotted #9FA4A6;
	color: #264FA0;
}

#container a:hover
{
	color: #E23333;
}

#container .category-link a
{
	text-decoration: none;
	border-bottom: 1px solid #9FA4A6;
	color: #264FA0;
	clear: both;
	float: left;
}