/* Middle */
#filters input {
margin: 0;
}
#filters ul li ul {
margin-left: 13px;
}
.title_spec {
    font-weight: bold;
}
#middle {
    width: 1000px;
    /*padding: 0 0 303px;*/
    height: 1%;
    position: relative;
    margin: 0px auto;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

#content {
   /* padding: 0 242px 0 217px;*/
}

.pd-left
{
    width: 140px;
    float: left;
}

.pd-right
 {
     width: 410px;
     float: left;
 }

.pd-title {
    font: 30px PTSN Bold;
}
.sorting-block {
    width: 555px;
    height: 27px;
    margin: 20px 0 0 0;
    font: 14px PTSn Regular;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(225,235,237) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(225,235,237)));
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1ebed',GradientType=0 );

    -webkit-box-shadow:  0px -1px 5px 1px rgba(228, 234, 234, 0.75 );
    box-shadow:  0px -1px 5px 1px rgba(228, 234, 234, 0.75);
}
.sorting-block p {
    float: left;
    margin: 3px 0 0 0;
}
.sorting-block p:first-child {
    margin-left: 5px;
}
.sorting-block p:last-child {
    margin-left: 15px;
}
.sorting-block p a {
    text-decoration: none;
    border-bottom: 1px dotted #9fa4a6;
    color: #2553a3;
}
.sorting-block p a:hover {
    color: #E23333;
}
.sorting-block p span {
    border-right: 1px solid #000101;
    padding-right: 5px;
    padding-left: 3px;
}
.sorting-block p span:last-child {
    border-right:0;
}
.line {
    width: 555px;
    height: 1px;
    background:#cdd7d6;
    border: none;
    margin: 15px 0px;
}
.pd-list-block {
    width: 555px;
/*    height: 255px;*/
    margin: 15px 0 0 0;
    display: inline-block;
}
.pd-list-block .top {
    width: 555px;
/*    height: 140px;*/
	display: inline-block;
}
.pd-list-block .bottom {
    width: 555px;
    height: 115px;
    margin: 10px 0 0 0;
}
.pd-list-image-block {
    width: 140px;
    /*height: 170px;*/
    float: left;
    position: relative;
}
.pd-list-image-block .labes {
    position: absolute;
    bottom: 0;
}
.pd-list-image-block .labes ul
{
	margin: 0;
}
.pd-list-image-block .labes ul li
{
	list-style: none;
	margin-bottom: 10px;
}
.pd-list-image-block .labes .labes-new {
    display: inline;
    background: #00a450;
    font: 14px PTSN Bold;
    color: #ffffff;
    margin: 5px;
    padding: 2px 5px;

    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.pd-list-image-block .labes .labes-sail-leader {
    display: inline;
    background: #f7941d;
    font: 14px PTSN Bold;
    color: #ffffff;
    margin: 5px;
    padding: 2px 5px;

    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.pd-list-image-block .labes .labes-price-of-the-week {
    display: inline;
    background: #bb0506;
    font: 14px PTSN Bold;
    color: #ffffff;
    margin: 5px;
    padding: 2px 5px;

    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.pd-list-text-block {
    width: 395px;
    height: 170px;
    float: right;
}
.pd-list-text-block .title {
    margin: 0 0 0 0;
}
.pd-list-text-block .title a {
    color: #27489b;
    font: 20px PTSN Bold;
}
.pd-list-text-block .title a:hover {
    color: #E23333;
}
.pd-list-text-block .code {
    color: #8d8e90;
    font: 12px PTSN Regular;
    margin: 5px 0 0 0;
}
.pd-list-text-block .text {
    color: #020000;
    font: 18px PTSN Regular;
    margin: 10px 0 0 0;
    /*height: 90px;*/
    overflow: hidden;
}
.pd-list-text-block .text a {
    color: #264fa0;
    font: 14px PTSN Regular;
    background: url(../images/listArrow.png) no-repeat right center;
    padding: 0 13px 0 0;
}
.pd-list-option-block {
    width: 140px;
    height: 130px;
    float: left;
}
.pd-list-buy-block {
    width: 415px;
    height: 130px;
    float: right;
}
.pd-price-block {
    width: 125px;
    background: #ffffcc;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0;
    margin: 0 0 0 5px;
}
.pd-old-price {
    color: #020000;
    font: 16px PTSN Bold;
    text-decoration: line-through;
    text-decoration-color: #ff0001;
    margin: 0 0 0 5px;
}
.pd-soon-price {
    color: #a4a6a5;
    font: 24px PTSN Bold;
    margin: 0 0 0 5px;
}
.pd-price {
    color: #000000;
    font: 24px PTSN Bold;
    margin: 0 0 0 5px;
}
.pd-new-price {
    color: #ff0001;
    font: 24px PTSN Bold;
    margin: 0 0 0 5px;
}
.pd-usd-price {
    color: #9ea0a2;
    font: 16px PTSN Regular;
    margin: 0 0 0 5px;
}
.pd-qty-block {
    width: 135px;
    position: absolute;
    left: 125px;
    bottom: 0;
    text-align: center;
}
.pd-qty-block .isset {
    font: 18px PTSN Bold;
    color: #ed2124;
    margin-right: -2px;
}
.pd-qty-block .isset .tick {
    margin: 0 5px 0 0;
    display: inline-block;
    width: 16px;
    height: 15px;
    background: url(../images/tick.jpg) no-repeat;
}
.pd-qty-block .soon {
    font: 17px PTSN Bold;
    color: #e411c9;
    margin: 0 0px 0 16px;
}
.pd-qty-block .order {
    font: 18px PTSN Bold;
    color: #04ce34;
    margin: 0 0px 0 5px;
}
.pd-qty-block p {
    font: 14px PTSN Regular;
    color: #020000;
    margin: 0 0px 0 32px;
}
#container .pd-qty-block input {
    width: 20px;
    padding: 0px 2px;
    font: 14px PTSN Regular;
    border: 1px solid #d5dddc;
}
.pd-buy-block {
    text-align: center;
    width: 133px;
    height: 90px;
    position: absolute;
    left: 260px;
    bottom: 0;
}
.pd-buy-block p a {
    font: 14px PTSN Regular;
    color: #264fa0;
    border-bottom: 1px dotted #CDD7D6 !important;
    text-decoration: none;
}
.pd-buy-block p a:hover {
    color: #E23333;
}
body div .btn-buy-isset {
    width: 119px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    font: 20px PTSN Bold;
    color: #ffffff;
    line-height: 38px;
    margin: 3px 0 2px 0px;
    text-align: center;

    background: rgb(23,167,224);
    background: -moz-linear-gradient(top,  rgb(23,167,224) 0%, rgb(38,79,160) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(23,167,224)), color-stop(100%,rgb(38,79,160)));
    background: -webkit-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: -o-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: -ms-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: linear-gradient(to bottom,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a7e0', endColorstr='#264fa0',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
body div .btn-buy-isset:hover {
    background: rgb(38,79,160);
    background: -moz-linear-gradient(top,  rgb(38,79,160) 0%, rgb(23,167,224) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(38,79,160)), color-stop(100%,rgb(23,167,224)));
    background: -webkit-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: -o-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: -ms-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: linear-gradient(to bottom,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264fa0', endColorstr='#17a7e0',GradientType=0 );
}

.pd-options {
    width: 140px;
    height: 130px;
    display: inline-block;
}
.pd-options img {
    vertical-align: middle;
}
.pd-options ul {
    list-style: none;
    margin: 5px 0 0 10px;
}
.pd-options li a {
    font: 14px PTSN Regular;
    color: #2550a0;
    margin: 0 0 0 5px;
    text-decoration: none;
    border-bottom: 1px dotted #9fa4a6;
}
.pd-options a:hover {
    color: #E23333;
}


.pd-reviews-block {
    padding: 5px 0 0 10px;
}
.pd-reviews-block a {
    text-decoration: none;
    border-bottom: 1px solid #9fa4a6;
    color: #264fa0;
    font: 14px PTSN Regular;
}
.pd-reviews-block .rate-count {
    color: #a4a6a5;
    font: 14px PTSN Regular;
	padding-top: 5px;
	display: inline-block;
}

.pd-reviews-block .star {
    width: 20px;
	height: 20px;
    background: url(../images/stars.png) no-repeat 0 0px;
    background-size: cover;
}

.pd-reviews-block .star.on a, .pd-reviews-block .star.on span {
background-position: 0 -40px;
}

.page-list {
    width: 555px;
    border: 1px solid #ccd6d5;
    margin: 15px 0 0 0;
}
.page-list table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
}
.page-list .left {
    float: left;
    width: 35px;
}
.page-list .left a {
    display: block;
    width: 35px;
    height: 36px;
    background: url(../images/pageListLeft.png) no-repeat center;
    border-right: 1px solid #ccd6d5;
}
.page-list .center {
    width: 100%;
    text-align: center;
}
.page-list .center a {
    color: #27489b;
    font: 20px PTSN Bold;
    text-decoration: none;
    border-bottom: 1px solid #9fa4a6;
}
.page-list .center a:hover {
    color: #E23333;
}
.page-list .center a.active {
    text-decoration: none;
    color: #000000;
    border: none;
}
.page-list .right {
    float: right;
    width: 35px;
}
.page-list .right a {
    display: block;
    width: 35px;
    height: 36px;
    background: url(../images/pageListRight.png) no-repeat center;
    border-left: 1px solid #ccd6d5;
}


.category-title {
    font: 14px PTSN Regular;
    color: #020000;
    margin: 15px 0 0 0;
}
.category-text {
    font: 16px PTSN Regular;
    color: #7a7777;
    margin-top: 25px;
}

.usefull-info {
    margin: 25px 0 15px 0;
}
.usefull-info .title {
    font: 16px PTSN Bold;
    color: #000103;
    margin: 0 0 0 10px;
}
.usefull-info img {
    margin: 0 3px 0 0 ;
}
.usefull-info ul {
    margin: 0;
    padding: 0 0 0 10px;
}
.usefull-info ul li {
    list-style: none;
}
.usefull-info ul li a {
    font: 18px PTSN Regular;
    color: #27489b;
}
/*SOCIAL PLIGUINS*/
.social-pluguins {
    width: 200px;
    background: #ffffff;
    margin: 0 17px 0 17px;
    padding: 17px 0 0 0;
}
.social-pluguins .vk-bar {

}
.social-pluguins .facebook-bar {
    margin: 10px 0 0 0;
}


/* Sidebar Right */
#sideRight {
    float: left;
    margin-right: 0px;
    width: 220px;
    margin-left: 0px;
    position: relative;
}
#product_filter {
    height: 100%;
    width: 220px;
    border: 1px solid #ccd6d5;
}
#product_filter h3 {
    font: 18px PTSN Bold;
    color: #020000;
    margin: 0px 0px 10px 3px;
    padding: 10px 0 0 0;
}
#product_filter ul {
    font: 16px PTSN Regular;
    color: #020000;
    margin: 0 0 0 3px;
}
#product_filter li {
    list-style: none;
    margin: 0 0 15px 0;
}
#product_filter li li {
    list-style: none;
    margin: 0 0 0 0;
}
#product_filter li div {
    margin: 10px 0 0 0;
}
#product_filter #slider,#product_filter #slider div {
    margin: 0;
}
#product_filter .hint {
/*    font: 18px PTSN Regular;
    list-style-image: url(../images/filterArrow.png);*/
    margin: 10px 0 0px 0px;
    border-top: solid 1px #E4E4E4;
}
#product_filter .hint span {
/*    border-bottom: 1px dotted #c5c8c9;*/
}
#product_filter .hint .question {
    background: url(../images/filterQuestion.png) no-repeat;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 0 0 4px;
    background-size: cover;
}
#product_filter .hint ul li {
    margin: 5px 0 5px 0px;
}
#product_filter ul ul li:hover {
    color: #27489b;
    cursor: default;
}
#product_filter .count {
    font: 12px PRSN Regular;
    color: #9fa4a6;
    margin: 0 0 0 3px;
}

.filterClear a
{
	font: 14px PTSN Regular;
	color: #264B9D;
}

.filterClear a:hover, .filterClear a:visited
{
	color: #264B9D;
}

#chosen_filters {
    font: 14px PTSN Regular;
    border-bottom: 1px solid #d9e3e3;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #ffffff 0%, #e1ebed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#e1ebed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#e1ebed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ffffff 0%,#e1ebed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ffffff 0%,#e1ebed 100%); /* IE10+ */
    background: linear-gradient(to right,  #ffffff 0%,#e1ebed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1ebed',GradientType=1 ); /* IE6-9 */
}
#chosen_filters ul li {
    font: 14px PTSN Regular;
    color: #020000;
    margin: 0 0 10px 1px;
}
#chosen_filters ul li ul li {
    font: 14px PTSN Bold;
    color: #27489b;
    margin: 0 0 2px -2px;
}

#chosen_filters li a
{
	cursor: pointer;
	text-decoration: none;
	color: #27489B;
	font: 14px PTSN Bold;
}

#chosen_filters li a:visited, #chosen_filters li .cross:hover
{
	color: #27489B;
}

#chosen_filters li .cross
{
    color: #020000;
}

#chosen_filters li .cross:visited
{
	color: #020000;
}

#chosen_filters li .cross:hover
{
    color: #e23333;
}

.filter_delete {
    background: url(../images/filterDelete.png) no-repeat;
    width: 10px;
    height: 8px;
    display:inline-block;
    margin: 0 3px 0 0;
}
.formCost {
    font: 14px PTSN Regular;
    color: #020000;
}

.formCost label
{
	display: inline-block;
}

.formCost input {
    width: 35px;
    height: 25px;
    border: 1px solid #cbd5d4;
    display: inline-block;
    font: 17px PTSN Bold;
	margin-top: -5px;
	margin-left: 5px;
    color: #FFF;
}

.formCost input[type="button"]
{
	background: #049cdb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #049cdb 0%, #0064cd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#049cdb), color-stop(100%,#0064cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #049cdb 0%,#0064cd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #049cdb 0%,#0064cd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #049cdb 0%,#0064cd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #049cdb 0%,#0064cd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#049cdb', endColorstr='#0064cd',GradientType=0 ); /* IE6-8 */
	border: none;
	border-radius: 3px;
}

.formCost input[type="button"]:hover
{
	background: #0064cd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top, #0064cd 0%, #049cdb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064cd), color-stop(100%,#049cdb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0064cd 0%,#049cdb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0064cd 0%,#049cdb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0064cd 0%,#049cdb 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0064cd 0%,#049cdb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064cd', endColorstr='#049cdb',GradientType=0 ); /* IE6-8 */
}

.formCost .price
{
	display: inline-block;
	width: 53px;
    height: 14px;
	font: 14px PTSN Regular;
	margin-top: 5px;
	margin-left: 0px;
	color: #020000;
	background: #e1ebed; /* Old browsers */
    background: -moz-linear-gradient(top,  #e1ebed 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1ebed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e1ebed 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e1ebed 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e1ebed 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e1ebed 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ebed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
/*TOP PRODUCTS BLOCK*/
.top-product-block {
    width: 220px;
    margin: 25px 0 0 0;
    padding: 0 0 0 5px;
}
.top-product-block .title-block {
    font: 18px PTSN Bold;
    color: #020000;
}
.top-product-block .item {
    margin: 15px 0 0 0;
    float: left;
}
.top-product-block .item-number {
	width: 25px;
    padding-top: 25px;
	float: left;
	font: 50px PTSN Regular;
	color: #CDD7D6;
}
.top-product-block .item-detail {
	width: 130px;
    margin: 8px 0 0 10px;
    float: left;
}
.top-product-block .item-detail .name {
	text-align: center;
}
.top-product-block .item-detail .name a {
    font:14px PTSN Regular;
    color: #27489b;
    text-decoration: none;
    border-bottom: 1px solid #9fa4a6;
}
.top-product-block .item-detail .name a:hover {
    color: #E23333;
}

.top-product-block .item-detail .img {
	text-align: center;
}

.top-product-block .item-detail .img img {
	width: 100px;
}

.top-product-block .item-detail .price {
    font: 24px PTSN Bold;
    color: #020000;
}

/*TOP ARTICLES BLOCK*/
.top-articles-block {
    width: 220px;
    padding: 0 5px;
    background: #e5eef0;
    font: 15px PTSN Regular;
    clear: both;
    margin-top: 780px;
    color: #000000;
}
.top-articles-block p {
    margin: 10px 0 0 0;
    padding-bottom: 7px;
    font-size: 15px;
}
.top-articles-block p a {
    text-decoration: none;
    border-bottom: 1px solid #9fa4a6;
    color: #E23333;

}
.top-articles-block p.title-block {
    font-size: 18px;
    margin: 0 0 5px 0;
    padding: 0;
}
.top-articles-block ul {
    list-style: none;
}
.top-articles-block ul li {
    padding: 4px 0;
}
.top-articles-block ul li a {
    font-size: 15px;
    color: #27489b;
    text-decoration: none;
    border-bottom: 1px solid #9fa4a6;
}
.top-articles-block ul li a:hover {
    color: #E23333;
}

body ul.yiiPager
{
    font-size: 18px;
    margin: 0;
    padding: 5px 5px 8px;
    line-height: 100%;
    display: block;
    width: 99%;
    border: 1px solid #DAE2E1;
}

body div ul.yiiPager li.selected a:link,
body div ul.yiiPager li.selected a:visited
{
    color: #000;
    border: none;
    background: none;
    text-decoration: none;
}

body div ul.yiiPager a:hover
{
    border: none;
}

body ul.yiiPager .first, body ul.yiiPager .last
{
    display: inline;
}

ul.yiiPager .first a:link,
ul.yiiPager .first a:visited
{
    font: 18px PTSN Bold;
    padding: 0;
    margin: 0 15px 0 0;
    font-weight: normal;
    border:none;
    text-decoration: underline;
    text-decoration-color: #DAE2E1;
    border-radius: 0;

}

ul.yiiPager .last a:link,
ul.yiiPager .last a:visited
{
    font: 18px PTSN Bold;
    padding: 0;
    margin: 0 0 0 15px;
    font-weight: normal;
    border:none;
    text-decoration: underline;
    text-decoration-color: #DAE2E1;
    border-radius: 0;

}

ul.yiiPager .internalPages a:link,
ul.yiiPager .internalPages a:visited
{
    font: 18px PTSN Bold;
    padding: 0;
    margin: 0 3px;
    font-weight: normal;
    border:none;
    text-decoration: underline;
    text-decoration-color: #DAE2E1;
    border-radius: 0;

}

ul.yiiPager .nextPage a:link,
ul.yiiPager .nextPage a:visited
{
    font: 18px PTSN Bold;
    padding: 0 0 0 15px;
    margin: 0;
    font-weight: normal;
    border:none;
    border-left: 1px solid #DAE2E1;
    border-radius: 0;
}

ul.yiiPager .previousPage a:link,
ul.yiiPager .previousPage a:visited
{
    font: 18px PTSN Bold;
    padding: 0 15px 0 0;
    margin: 0;
    font-weight: normal;
    border:none;
    border-right: 1px solid #DAE2E1;
    border-radius: 0;
}

ul.yiiPager .nextPage
{
    float: right;
}

ul.yiiPager .previousPage
{
    float: left;
}