.sites-solid-background {
    background-color: #F01B1D;
}
.upper-wide-strip {
    min-hight: 112px;
    min-width: 100%;
}
.bottom-wide-strip {
    hight: 13px;
    width: 100%;
}

.main-menu-wrapper {
    min-height: 35px;
    border-bottom: 1px solid #cbd5d4;
}

.main-menu-container {
    min-height: 34px;
    border: none;

    width: 100%;

    background: #ffffff; /* for the oldest browsers */
    background: -moz-linear-gradient(top, #ffffff, #e2ecee); /* Firefox 3.6+ */
    /* Chrome 1-9, Safari 4-5 */
    background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#ffffff), color-stop(100%,#e2ecee));
    /* Chrome 10+, Safari 5.1+ */
    background: -webkit-linear-gradient(top, #ffffff, #e2ecee);
    background: -o-linear-gradient(top, #ffffff, #e2ecee); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff, #e2ecee); /* IE10 */
    background: linear-gradient(top, #ffffff, #e2ecee); /* CSS3 */
}

.tabler {
    display: table;
    height: 34px;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.int-must-be-table--horizontal {
    display: table-cell;
    vertical-align: middle;
    height: 34px;
}

.fake-block-for-main-menu {
    width: 261px;
}

.horizontal-block {
    display: inline;
}

.main-men-item {
    padding-right: 40px;
}

.int-must-be-table--horizontal a {
    color: #000000;
}

.int-must-be-table--horizontal a:hover {
    text-decoration: underline;
    color: #000000;
}

.right-horizontal-block-for-mainmenu {
    position: absolute; right: 0; display: inline;
}

.post-image {
    width: 17px;
    height: 12px;
    background: url('/img/custom/post.png') no-repeat;
    padding-right: 25px;
}

.sitemap-image {
    width: 20px;
    height: 14px;
    background: url('/img/custom/sitemap.png') no-repeat;
    padding-right: 25px;
}

a #entry-butt-on-main-menu {
    width: 80px;
    height: 29px;
    background-image: url('/img/custom/entry_button.png');
}

a:hover #entry-butt-on-main-menu {
    width: 80px;
    height: 29px;
    background-image: url('/img/custom/entry_button_pressed.png');
}

.logo-n-contact {
    min-height: 148px;
    width: 100%;
    position: relative;
}

.gen-elements-first-block {
    width: 246px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.gen-elements-second-block {
    display: inline;
    min-width: 623px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 246px;
}

.gen-elements-third-block {
    display: inline;
    min-width: 131px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 869px;
}

.logo-m {
    position: absolute;
    left: 79px;
    top: 9px;
    background-image: url('/img/custom/logo.png');
    width: 84px;
    height: 96px;
}

.main-title {
    position: absolute;
    left: 44px;
    top: 111px;
    background-image: url('/img/custom/bramatitle.png');
    width: 153px;
    height: 28px;
}

#first-g-text {
    position: absolute;
    left: 17px;
    top: 25px;
}

#second-g-text {
    position: absolute;
    left: 26px;
    top: 83px;
}

#g-phone span {
    position: absolute;
    height: 39px;
    width: 100%;
    display: block;
    background: url("/img/custom/gw.png") repeat-x scroll 0 0 transparent;
}

#g-phone {
    /*font-size: 3em;
    font: bold 310%/100% Arial;
    font-weight: bold;*/
    font-stretch: semi-condensed;
    font: bold 250%/100% "Lucida Grande",Arial,sans-serif;
    position: relative;
    color: #b80405;
}

#g-link {
    margin-top: 15px;
    float: right;
}

#second-g-text #g-link a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed #000;
}

#second-g-text #g-link a:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

#calc-sector-left-col {
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#calc-sector-right-col {
    width: 101px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 30px;
}

#calc-layer {
    background: url('/img/custom/calc.gif') no-repeat;
    width: 30px;
    height: 36px;
    margin-top: 26px;
    margin-bottom: 86px;
}

#info-calc-layer {
    padding-left: 10px;
    margin-top: 21px;
    height: 45px;
    position: absolute;
    width: 100%;
    font-stretch: semi-condensed;
}

#info-calc-layer #money-inf-1 {
    position: absolute;
    top: 0px;
    width: 100%;
}

#info-calc-layer #money-inf-2 {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#upper-bucket-butt-container {
    position: absolute;
    left: 7px;
    top: 88px;
}

a .buck-bott-itself {
    width: 92px;
    height: 53px;
    background-image: url('/img/custom/empty-bucket-botton.png');
}

a:hover .buck-bott-itself {
    width: 92px;
    height: 53px;
    background-image: url('/img/custom/empty-bucket-botton-pressed.png');
}

.middle-column {
    margin: 0 auto;
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
}

.soft-shadow-on-top-side
{
    margin-top: 12px;

    -webkit-box-shadow: 0 -2px 5px #F1F1F1;
    -moz-box-shadow: 0 -2px 5px #F1F1F1;
    box-shadow: 0 -2px 5px #F1F1F1;
}

/* characterictics */
.compare_characteristic {
    height: 250px;
}
.compare_characteristic table {
    width: 100%;
    font: 14px/24px "PTSN Regular";
}
.table_color {
    background: #edf2f2;
}
.compare_characteristic .question {
    margin: 5px 0 0 2px;
}
.carousel-inner .question {
    border: none;
    display: inline-block;
}

/*product information styles*/
.pd-info-block {
}
.pd-price-block {
    width: 115px;
    background: #ffffcc;
    display: inline-block;
    vertical-align: top;
    padding: 10px 0;
}
.pd-old-price {
    color: #020000;
    font: 16px PTSN Bold;
    text-decoration: line-through;
    margin: 0 0 0 5px;
}
.pd-soon-price {
    color: #a4a6a5;
    font: 24px PTSN Bold;
    margin: 0 0 0 5px;
}
.pd-price {
    color: #000000;
    font: 24px PTSN Bold;
    margin: 0 0 0 5px;
}
.pd-new-price {
    color: #ff0001;
    font: 24px PTSN Bold;
    margin: 0 0 0 5px;
}
.pd-usd-price {
    color: #9ea0a2;
    font: 16px PTSN Regular;
    margin: 0 0 0 5px;
}
