#social_reg_div div {
font-size: medium;
padding-bottom: 15px;
}
#social_reg_div{
padding-top: 15px;
}

.help-inline {
background-color: white;
}
.lableoff label{
    display:none;
}
#content .fieldWithSubLabel .lableoff span{
    margin-top: 0;
}
#container
{
	padding-top: 10px;
	padding-left: 10px;
	font: 16px "PTSN Regular";
}

#container #login-form
{
	padding-top: 30px;
}

#container #registration-form .control-label, #container #login-form .control-label
{
	text-align: left;
}

#container .cart-table .dropMark
{
	width: 10px;
	cursor: pointer;
}

#container .cart-table a
{
	text-decoration: none;
	border-bottom: 1px solid #9FA4A6;
	font: 16px "PTSN Regular";
	color: #2550A0;
}

#container .cart-table .btn-buy-isset, #container .cart-table .btn-buy-buy
{
	width: 100px;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	font: 18px "PTSN Bold";
	color: #FFF;
}

#container .cart-table .btn-buy-isset:hover, #container .cart-table .btn-buy-buy:hover
{
	padding-top: 5px;
	padding-bottom: 5px;
}

#container .cart-table a:hover
{
	padding: 0px;
}

#container .cart-table .price
{
	font: 18px "PTSN Bold";
}

#container .cart-table tbody img
{
	width: 80px;
}

#container .cart-table .img-a
{
	border-bottom: none;
}

#container td
{
	border: 1px solid #ccc;
}

#container label
{
	font: 16px "PTSN Regular";
}

#container input[type="text"], #container input[type="password"], #container select
{
	width: 300px;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #ccd6d5;
	padding: 3px 0 3px 0;
	margin-top: 5px;
	background: #f0f5f6;
	outline: none;
	font: 16px "PTSN Regular";
}

#container a
{
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px dashed;
}

#container a:hover
{
	border-bottom: none;
	padding-bottom: 1px;
}

#container h3
{
	font-family: "PTSN Bold";
}

.profile-label
{
	width: 120px;
	max-width: 120px;
	display: inline-block;
	text-align: right;
	padding-right: 20px;
	color: #929DA7;
	font: 16px "PTSN Regular"
}

.profile-value
{
	display: inline-table;
	font: 16px "PTSN Regular"
}

#container .profile-content .label-group
{
	font: 16px "PTSN Regular";
}

#content .profile-content .fieldWithSubLabel input
{
	width: 300px;
}