#rating
{
	display:inline-block;
}
.cancel,
.star {
	float: left;
	width: 25px;
	height: 25px;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}
.cancel,
.cancel a {background: url(../images/delete.gif) no-repeat 0 -16px;}

.star a, .star span
{
	background: url(../images/stars.png) no-repeat 0 0px;
	background-size: cover;
	display: block;
	height: 100%;
}
	
.cancel a,
.star a {
	display: block;
	width: 100%;
	height: 100%;
 	background-size: cover;
	background-position: 0 0px;
}

.star.on a, .star.on span{
	background-position: 0 -50px;
}
.star.hover a,
.star a:hover {
	background-position: 0 -25px;
}


