#product_filter form {
/*    width: 300px;*/
}

.formCost {
    height: 35px;
    margin: 5px 0 0 5px;
}
/*.formCost label {
    float: left;
    font-size: 12px;
    color: #020000;
    font: 14px PTSN Regular;
    margin-right: 5px;
    position: relative;
    top: 2px;
}*/
/*.formCost input {
    float: left;
    text-align: right;
    color: #434343;
    font-size: 12px;
    font-weight: bold;
    width: 55px;
    height: 17px;
    background: none;
    border: 1px solid #E5E5E5;
    margin-right: 10px;
}*/
#minCost {
    font: 14px PTSN Regular;
    color: #020000;
}

#product_filter .sliderCont {
    width: 200px;
    height: 30px;
    margin: 10px 0 0 5px;
}

/* А это правила для скрипта:  */
#slider {
    width: 200px;
}

.ui-slider {
    position: relative;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 9px;
    height: 29px;
    background: url(../images/sliderHandle.png) no-repeat;
    cursor: pointer;
    border:0;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
.ui-slider-horizontal {
    height: 9px;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
.ui-widget-content {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(178, 184, 184, 0.75);
    box-shadow: inset 2px 2px 2px 0px rgba(178, 184, 184, 0.75);
}
.ui-widget-header {
    border: 1px solid #D4D4D4;

    -webkit-box-shadow:  2px 2px 3px 0px rgba(146, 148, 149, 0.75);
    box-shadow:  2px 2px 3px 0px rgba(146, 148, 149, 0.75);

    background: #17a7e0; /* Old browsers */
    background: -moz-linear-gradient(top,  #17a7e0 0%, #284095 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17a7e0), color-stop(100%,#284095)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #17a7e0 0%,#284095 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #17a7e0 0%,#284095 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #17a7e0 0%,#284095 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #17a7e0 0%,#284095 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a7e0', endColorstr='#284095',GradientType=0 ); /* IE6-9 */
}
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.filterClear {
    margin: 0 0 5px 5px;
}
.filterClear img {
    margin: 2px 4px 1px 1px;
}
.filterClear a {
    font: 14px PTSN Regular;
    color: #264b9d;
}


