#specPopup
{
	position: absolute;
	display: none;
	background-color: #EDF5F4;
	box-shadow: 0px 0px 5px #5A5A5A;
	padding: 10px;
	max-width: 500px;
}

#specPopup p
{
	margin: 0 0 5px;
}

#specPopupTail
{
	right: 10px;
	background: url(/images/specTail.png) no-repeat;
	position: absolute;
	top: -10px;
	width: 21px;
	height: 10px;
}

#closeSpecPopup
{
	top: 2px;
	right: 2px;
	width: 10px;
	height: 10px;
	background-size: 20px;
}