* {
     margin: 0;
     padding: 0;
 }
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	position: relative;
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	height: 100%;
}
a {
	color: #2550a0;
	outline: none;
	text-decoration: underline;
}
a:hover {
	color: #2550a0;
}
a:visited {
	color: #2550a0;
}
.pd-buy-block a:visited {
	text-decoration: none;
	color: #fff;
}
.pd-buy-block .catalog.href-buy-buy:visited {
	text-decoration: none;
	color: #264FA0;
}
p {
	/* margin: 0 0 18px */
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
}
h1, h2, h3, h4, h5
{
	font-family: 'PTSN Bold';
}
label
{
	font: 16px 'PTSN Regular';
}
@font-face {
	font-family: 'PTSN Regular';
	src: url('/css/fonts/ptsn_regular.eot?') format('eot'),
	url('/css/fonts/ptsn_regular.woff') format('woff'),
	url('/css/fonts/ptsn_regular.ttf') format('truetype');
}
@font-face {
	font-family: 'PTSN Bold';
	src: url('/css/fonts/ptsn_bold.eot?') format('eot'),
	url('/css/fonts/ptsn_bold.woff') format('woff'),
	url('/css/fonts/ptsn_bold.ttf') format('truetype');
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 244px;
	background:url("/images/headBgrd.jpg") repeat-x;
}

#header a
{
	border-bottom: none;
}

#header-middle {
	width:1000px;
	height:244px;
	margin:0px auto;
}
#header_middle_top {
    width:1000px;
    height: 48px;
}
.top_menu {
	font: 14px PTSN Regular;
	list-style:none;
	float:left;
	margin:13px 0 0 238px;
}
.top_menu li {
	display:inline;
	padding:0 21px;
}
.top_menu li a {
	color:#020000;
    text-decoration: none !important;
    border-bottom: 1px solid #bec3c5 !important;
}
.top_menu li a:hover {
    text-decoration: none;
    color: #bd0607;
}
#newPass:hover, #rememberPass:hover, .spec_select:hover, .filterClear a:hover {
color: #bd0607 !important;
}
.top_menu li a:hover, .top_menu li.active a {
	text-decoration:none;
}

#logout_btn
{
	max-width: 270px !important;
	height:26px;
	float:right;
	text-align:center;
	padding-right: 10px;
		
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	
	background: #17A7E0;
	background: -moz-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17A7E0), color-stop(100%, #284095));
	background: -webkit-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -o-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -ms-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: linear-gradient(to bottom, #17A7E0 0%, #284095 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a7e0', endColorstr='#284095', GradientType=0);
}

#login_btn {
	width:78px;
	height:26px;
	float:right;
	text-align:center;

    background: rgb(248,31,32);
    background: -moz-linear-gradient(top,  rgb(248,31,32) 0%, rgb(185,4,5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,31,32)), color-stop(100%,rgb(185,4,5)));
    background: -webkit-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -o-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -ms-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: linear-gradient(to bottom,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#header .sign-in a {
    font:18px PTSN Regular;
    color:#ffffff;
    text-decoration:none;
}

#header .sign-in .login-form-content a
{
    color: #2550A0;
    border-bottom: 1px dashed;
    font: 15px PTSN Regular;
}
#login_btn:hover {
    background: rgb(185,4,5);
    background: -moz-linear-gradient(top,  rgb(185,4,5) 0%, rgb(248,31,32) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(185,4,5)), color-stop(100%,rgb(248,31,32)));
    background: -webkit-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -o-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -ms-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: linear-gradient(to bottom,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90405', endColorstr='#f81f20',GradientType=0 );
}
#login_btn img {
    float: left;
    margin: 6px 0px 0px 8px;
}
#map_btn {
    width:20px;
    height:14px;
    background:url(/images/mapIcon.png) no-repeat;
    float: right;
    margin: 18px 25px 0px 15px;
}
#mail_btn {
    width:17px;
    height:12px;
    background:url(/images/mailIcon.png) no-repeat;
    float: right;
    margin: 19px 10px 0px 0px;
}
#mail_btn a {
    display:block;
    width: 17px;
    height: 22px;
}
#map_btn a {
    display:block;
    width: 20px;
    height: 14px;
}
#header_middle_center {
    width: 1000px;
    height: 148px;
}
#logo {
    background: url(/images/logo.png) no-repeat;
    width: 152px;
    height: 129px;
    float: left;
    margin: 9px 0px 0px 44px;
}
#logo a {
    width: 152px;
    height: 129px;
    display: block;
}
#quick_contacts {
    width: 592px;
    height: 123px;
    float: left;
    padding: 5px 0px 0px 55px;
    font: 16px PTSN Regular;
}
#quick_contacts .city-phones {
    font: 20px PTSN Bold;
    color: #e23333;
    display: inline-block;
    text-align: left;
	width: 48%;
}
#quick_contacts .city-phones p {
    margin: 5px 0;
	display: inline-block;
    padding: 0px;
}
#quick_contacts .city-phones .black {
    font: 18px PTSN Regular;
    color: #020000;
}

#quick_contacts .city-phones .black img {
	height: 25px;
}

#quick_contacts #phones {
    font: 36px PTSN Bold;
    margin:15px 0px 0px 30px;
    color: #e23333;
    display: inline-block;
}
#quick_contacts #call_order {
	margin: 0 0 0 10px;
	font: 17px PTSN Regular;
	color: #020000;
	display: block;
	text-align: center;
}
#quick_contacts #call_order a {
    text-decoration: none !important;
    border-bottom: 1px dashed #bec3c5 !important;
    color: #020000;
}
#quick_contacts #call_order a:hover {
    text-decoration: none;
    color: #bd0607;
}
#calculator {
    background: url(/images/calculator.png) no-repeat;
    width: 36px;
    height: 36px;
    margin:7px 0px 0px 0px;
    float: left;
}
#cart_and_curency {
    float: right;
    margin: 9px 0px 0px 0px;
    font: 14px PTSN Regular;
}
#cart_and_curency .curency {
    margin: 2px 0px 0px 0px;
    font: 17px PTSN Regular;
	width: 110px;
}
.cart_btn_order img
{
	vertical-align: baseline;
	position: relative;
	top: 2px;
	margin-right: -4px;
}
#header .cart_btn_order a:last-of-type
{
	border-bottom: 1px solid #fff;
	font: 15px/24px "PTSN Regular";
	margin-left: 2px;
}
.cart_btn_order .btn_order a
{
	border: none;
	font: 15px/27px "PTSN Bold";
	margin-left: 0;
}
.cart_btn_order .btn_order
{
	margin: 0;
	height: 28px;
	padding: 0;
	width: auto;
	margin: 4px 0 0 -5px;
}
.cart_btn_order:hover
{
	background: #284095;
	background: -moz-linear-gradient(top, #284095 0%, #7db9e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #284095), color-stop(100%, #7db9e8));
	background: -webkit-linear-gradient(top, #284095 0%, #7db9e8 100%);
	background: -o-linear-gradient(top, #284095 0%, #7db9e8 100%);
	background: -ms-linear-gradient(top, #284095 0%, #7db9e8 100%);
	background: linear-gradient(to bottom, #284095 0%, #7db9e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284095', endColorstr='#7db9e8', GradientType=0);
}
.cart_btn_order
{
	width: 100px;
	font: 18px PTSN Bold;
	padding: 3px 0px 0 5px;
	position: relative;
	top: 30px;
	background: #7db9e8;
	background: -moz-linear-gradient(top, #7db9e8 0%, #284095 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7db9e8), color-stop(100%, #284095));
	background: -webkit-linear-gradient(top, #7db9e8 0%, #284095 100%);
	background: -o-linear-gradient(top, #7db9e8 0%, #284095 100%);
	background: -ms-linear-gradient(top, #7db9e8 0%, #284095 100%);
	background: linear-gradient(to bottom, #7db9e8 0%, #284095 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#284095', GradientType=0);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#header .cart_btn_order a
{
	font: 18px/21px "PTSN Bold";
	color: #fff;
	text-decoration: none;
	border: none;
}

.cart_btn {
    width: 92px;
    height: 31px;
    text-align:center;
    margin: 40px 0px 0px 0px;

    background: rgb(248,31,32);
    background: -moz-linear-gradient(top,  rgb(248,31,32) 0%, rgb(185,4,5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,31,32)), color-stop(100%,rgb(185,4,5)));
    background: -webkit-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -o-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -ms-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: linear-gradient(to bottom,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.cart_btn a {
    font:18px PTSN Bold;
    color:#ffffff;

    width: 92px;
    height: 31px;
    display: block;
    line-height: 30px;
    text-decoration:none;
}
.cart_btn:hover {
    background: rgb(185,4,5);
    background: -moz-linear-gradient(top,  rgb(185,4,5) 0%, rgb(248,31,32) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(185,4,5)), color-stop(100%,rgb(248,31,32)));
    background: -webkit-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -o-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -ms-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: linear-gradient(to bottom,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90405', endColorstr='#f81f20',GradientType=0 );
}
.cart_btn img {
    float: left;
    margin: 8px 0px 0px 5px;
}
#cart_status {
    width: 39px;
    height: 23px;
    font: 12px PTSN Regular;
    float: right;
    text-align: center;
    margin: 4px 0px 0px 0px;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(225,235,237) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(225,235,237)));
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1ebed',GradientType=0 );
}

.product-img-cart
{
	width: 415px;
	min-width: 415px;
	max-width: 415px;
}

.product-img-cart a
{
    text-decoration: underline;
	margin: 5px 0 0 5px;
	float: left;
	border: none;
    max-width: 300px;
}

.product-img-cart img
{
	margin: 3px 0 0 0;
}

.product-price-cart
{
	width: 105px;
}

.product-price-cart p
{
	margin: 0;
	padding: 0;
}

.cart-table .product-price-cart p:first-child
{
	font-size: 18px;
	color: #333333;
	font-family: "PTSN Bold";
}

.product-price-cart p:last-child
{
	font-size: 14px;
	color: #9fa4a6;
}

.input-cart
{
	text-align: center;
	font-size: 14px;
	width: 90px;
}

#cart-box .input-cart input
{
	border: 1px solid #ccd6d5;
	width: 30px;
	height: 15px;
	margin: 0 2px 0 0;
}
		
.total-cart
{
	margin: 5px 10px 0 0;
	padding: 3px;
	float: right;
	background: #edf2f2;
}

.total-price-text
{
	margin: 0 10px 0 0;
	float: left;
}

.total-price-text p
{
	margin: 0;
	padding: 0;
}

.total-price-text p:last-child
{
	font-size: 14px;
	color: #9fa4a6;
}

.total-price-text p:first-child
{
	font-size: 18px;
	color: #333333;
	font-family: "PTSN Bold";
}

.checkbox-cart
{
	text-align: center;
	width: 85px;
}

body div div .cart-btn
{
	float: left;
	font: 20px PTSN Bold;
	padding: 12px 19px;
	margin: 5px 0 0 0;
	color: #ffffff;
	border: none;
	text-decoration: none;
	
	background: rgb(248,31,32);
	background: -moz-linear-gradient(top,  rgb(248,31,32) 0%, rgb(185,4,5) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,31,32)), color-stop(100%,rgb(185,4,5)));
	background: -webkit-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
	background: -o-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
	background: -ms-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
	background: linear-gradient(to bottom,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );

	-webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

	-webkit-border-radius: 3px;
	border-radius: 3px;
}
body div div .cart-btn:hover
{
	background: rgb(185,4,5);
	background: -moz-linear-gradient(top,  rgb(185,4,5) 0%, rgb(248,31,32) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(185,4,5)), color-stop(100%,rgb(248,31,32)));
	background: -webkit-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
	background: -o-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
	background: -ms-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
	background: linear-gradient(to bottom,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90405', endColorstr='#f81f20',GradientType=0 );
}

.cart-header
{
	background: none;
	border:none;
	position: relative;
	text-align:center;
}
.cart-header h1
{
	font: 20px "PTSN Bold";
	margin: 7px 0 0 0;
}

a.close
{
	opacity: 1;
	display: inline-block;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0px;
	right: 5px;
	background: url("../images/logincross.gif") no-repeat;
}

a.close:hover
{
	opacity: 1;
	background-position: 100%;
}

.cart-content
{
	margin-top: 5px;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(228, 234, 234, 0.75);
    box-shadow:  0px 0px 5px 0px rgba(228, 234, 234, 0.75);
}

.cart-content a:visited
{
	color: #2550a0;
}

.cart-scroll
{
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.cart-table
{
	width: 850px;
	font: 18px "PTSN Regular";
}

body div div .cart-btn:hover
{
	color: #fff;
}

body div div .cart-btn:visited
{
	color: #fff;
}

.cart-table td
{
	padding: 3px;
	padding-right: 0px;
	padding-left: 10px;
	text-align: left;
}

.total-cart .total-price-text
{
	width: 105px;
	margin: 0 10px 0 0;
	float: left;
}
.total-cart .total-price-text p
{
	margin: 0;
	padding: 0;
}
.total-cart .total-price-text p:first-child
{
	font-family: "PTSN Bold";
}

.total-cart .total-price-text p:last-child
{
	font-size: 14px;
	color: #9fa4a6;
}

.total-price
{
	float:right;
}
.total-price p
{
	margin: 0;
	padding: 0;
}
.total-price p:first-child
{
	font: 24px "PTSN Bold";
	color: #eb191b;
}

.link-cart
{
	float: left;
	margin: 17px 0 0 15px;
	font: 18px "PTSN Regular";
	color: #2550a0;
	text-decoration: none;
	border-bottom: 1px dotted #2550a0;
}

.link-cart:hover
{
	color: #9fa4a6;
}

.link-cart:visited
{
	color: #2550a0;
}

.cart-table thead td
{
	padding: 5px 0 0 10px;
	text-align: left;
	font-size: 18px;
}

.cart-table .header
{
	height: 35px;
	vertical-align: top;

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(225,235,237) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(225,235,237)));
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1ebed',GradientType=0 );
}

#closeCart:hover
{
    text-decoration: none;
}

.cart-table .product-name-cart
{
	text-align: left;
	margin-top: 15px;
}

#header_middle_bottom {
    width: 1000px;
    height: 48px;
    position: absolute;
    top: 197px;
}
#catalog {
    width: 240px;
    height: 43px;
    border-left: 1px solid #cbd5d4;
    border-right: 1px solid #cbd5d4;
    border-top: 1px solid #cbd5d4;
    font: 20px PTSN Bold;
    color:#020000;
    float: left;
    margin: 2px 0px 0px 0px;
    text-align: center;

    background: rgb(225,235,237);
    background: -moz-linear-gradient(top,  rgb(225,235,237) 40%, rgb(183,188,189) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,rgb(225,235,237)), color-stop(100%,rgb(183,188,189)));
    background: -webkit-linear-gradient(top,  rgb(225,235,237) 40%,rgb(183,188,189) 100%);
    background: -o-linear-gradient(top,  rgb(225,235,237) 40%,rgb(183,188,189) 100%);
    background: -ms-linear-gradient(top,  rgb(225,235,237) 40%,rgb(183,188,189) 100%);
    background: linear-gradient(to bottom,  rgb(225,235,237) 40%,rgb(183,188,189) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ebed', endColorstr='#b7bcbd',GradientType=0 );

    -webkit-box-shadow:  1px -1px 3px 0px rgba(146, 148, 149, 0.75);
    box-shadow:  1px -1px 3px 0px rgba(146, 148, 149, 0.75);
}
.red_arrow {
    background: url(/images/redArrow.png) no-repeat;
    width: 11px;
    height: 17px;
    margin: 23px 0px 0px 16px;
    float: left;
}
#catalog p {
    float: left;
    margin: 8px 0px 0px 14px;
}

.middle-menu
{
    width: 420px;
    height: 34px;
    float: left;
    margin: 12px 0px 0px 17px;
    list-style: none;
    background: url(/images/menuDevider.jpg) no-repeat 98% 0;
}

.middle-menu ul
{
    display: none;
    margin: 0px;
    padding: 0px;
}

.middle-menu li
{
    float: left;
    background: url(/images/menuDevider.jpg) no-repeat;
    height: 34px;
    position: relative;
}

.middle-menu li a 
{
    color: #020000;
    text-decoration: none;
    font: 18px PTSN Regular;
    padding: 0 17px;
}

#header .middle-menu li .single:hover
{
    border-bottom: 1px solid #CBD5D4;
	padding: 0px 13px 9px 13px;
}

.middle-menu li:hover a
{
	color: #020000;
    background: #f4f7f8;
    border: 1px solid #cbd5d4;
    margin: 0 3px;
	font: 18px PTSN bold;
    padding: 0px 13px 15px 13px;
    position: relative;
    z-index: 25;
}

.middle-menu li:hover a.first
{
	padding: 0px 12px 15px 12px;
}

.middle-menu li:hover a.second
{
	padding: 0px 12px 15px 11px;
}

.middle-menu li:hover a.third
{
	padding: 0px 11px 15px 10px;
}

.middle-menu li:hover ul
{
	min-width: 100%;
	overflow: hidden;
    display: block;
    background: #f4f7f8;
    border: 1px solid #cbd5d4;
    position: absolute;
    top: 37px;
    left: 3px;
    z-index: 20;
    list-style: none;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(151, 155, 155, 0.5);
    box-shadow: 5px 5px 8px 0px rgba(151, 155, 155, 0.5);
	white-space: nowrap;
	word-wrap: normal;
	word-break: normal;
	word-spacing: normal;
	padding-right: 10px;
}

.middle-menu li:hover ul li
{
    width: 100%;
    height: 100%;
    float: none;
    background: none;
    margin: 0 0 0 5px;
}

.middle-menu li:hover .subtitle a
{
    background: none;
    border: none;
    font: 18px "PTSN Bold";
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.middle-menu li:hover .subtitle a:hover
{
    color: #e23333;
}

.middle-menu li:hover .subtitle ul
{
    background: #f4f7f8;
    border: none;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.middle-menu li:hover .subtitle li a
{
    font: 16px "PTSN Regular";
}

#search {
    float: right;
}
#search input {
    width: 228px;
    height: 22px;
    border: 1px solid #17a7e0;
    font: 14px PTSN Regular;
    margin: 14px 5px 0px 0px;
    padding: 0 0 0 3px;

    background: rgb(247,250,250);
    background: -moz-linear-gradient(top,  rgb(247,250,250) 0%, rgb(255,255,255) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(247,250,250)), color-stop(100%,rgb(255,255,255)));
    background: -webkit-linear-gradient(top,  rgb(247,250,250) 0%,rgb(255,255,255) 100%);
    background: -o-linear-gradient(top,  rgb(247,250,250) 0%,rgb(255,255,255) 100%);
    background: -ms-linear-gradient(top,  rgb(247,250,250) 0%,rgb(255,255,255) 100%);
    background: linear-gradient(to bottom,  rgb(247,250,250) 0%,rgb(255,255,255) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fafa', endColorstr='#ffffff',GradientType=0 );
}
#search #btn, #search #btnsearch {
    width: 78px;
    height: 26px;
    border: none;
    font: 18px PTSN Bold;
    color:#ffffff;
    margin: 15px 0px 0px 0px;
    padding: 0 0px 5px 0;
    cursor: pointer;

    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgb(125,185,232) 0%, rgb(40,64,149) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,185,232)), color-stop(100%,rgb(40,64,149)));
    background: -webkit-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: -o-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: -ms-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: linear-gradient(to bottom,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#284095',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#search #btnsearch:hover { background: rgb(40,64,149); 
    background: -moz-linear-gradient(top, rgb(40,64,149) 0%, rgb(125,185,232) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(40,64,149)), color-stop(100%,rgb(125,185,232))); background: -webkit-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: -o-linear-gradient(top, rgb(40,64,149) 0%,rgb(125,185,232) 100%); background: -ms-linear-gradient(top, rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: linear-gradient(to bottom, rgb(40,64,149) 0%,rgb(125,185,232) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284095', endColorstr='#7db9e8',GradientType=0 );}

/* Middle
-----------------------------------------------------------------------------*/
#categories_block
{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

#categories-block-row
{
	width: 100%;
	margin: 0 auto;
	display: table;
	height: 100%;
}

#sub-categories-block-row
{
	width: 100%;
	margin: 0 auto;
	display: table;
	height: 100%;
	margin-bottom: 15px;
	border-spacing: 15px;
}

#categories-block-row .sub-category .all
{
	color: #BD0607;
	font: 14px Arial;
	font-style: italic;
}
.sub-category
{
	float: left;
	list-style: none;
	margin-left: 15px;
}

.extra-sub-category
{
	float: left;
	list-style: none;
	margin-left: 0;
}

.sub-category li
{
	padding-bottom: 5px;
}

.extra-sub-category li
{
	padding-bottom: 5px;
}

.category-item
{
	width: 31%;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	margin-right: 15px;
}

.category-item-sub
{
	width: 48%;
	height: 100%;
	display: table-cell;
	vertical-align: top;
	margin-top: 15px;
}

.category-item-sub-empty
{
	width: 48%;
	border: 1px #999999 solid;
	height: 90%;
	display: table-cell;
	vertical-align: top;
	margin-top: 15px;
}

#categories-block-row .category-name
{
	margin-bottom: 20px;
}

#categories-block-row .category-name a
{
	color: #264B9D;
	font: 25px PTSN Bold;
	text-decoration: none !important;
	border-bottom: 1px solid #CDD7D6 !important;
}

#categories-block-row a
{
	font: 16px PTSN Regular;
	color: #264B9D;
	text-decoration: none !important;
	border-bottom: 1px solid #BEC3C5 !important;
}

#categories-block-row a:hover
{
	color: #CE0D0E;
	text-decoration: none;
}

#categories-block-row img, #sub-categories-block-row img
{
	width: 90px;
	float: left;
}

#sub-categories-block-row .category-name
{
	margin-bottom: 10px;
}

#sub-categories-block-row .extra-category-name
{
	margin-bottom: 10px;
	font: 18px 'PTSN Bold';
}

#sub-categories-block-row .sub-category .all
{
	color: #BD0607;
	font: 14px Arial;
	font-style: italic;
}

#sub-categories-block-row .category-name a
{
	color: #264B9D;
	font: 18px PTSN Bold;
	text-decoration: none !important;
	border-bottom: 1px solid #CDD7D6 !important;
}

#sub-categories-block-row a
{
	font: 16px PTSN Regular;
	color: #264B9D;
	text-decoration: none !important;
	border-bottom: 1px solid #BEC3C5 !important;
}

#sub-categories-block-row .extra-sub-category a
{
	font: 16px PTSN Bold;
}

#sub-categories-block-row .category-item-sub .h1
{
	font: 18px "PTSN Regular";
	color: #000;
	margin: 0 0 0 5px;
}

.image-container
{
	height: 100%;
/*	overflow: hidden;*/
}

.image-container img
{
	width: 100%;
}

#content .breadcrumbs a:hover
{
    color: #e23333;
}

#content .breadcrumbs a
{
    text-decoration: none;
    border-bottom: 1px solid #cdd7d6;
    font: 14px PTSN Regular;
    color: #264fa0;
}
#container
{
    width: auto;
	padding-left: 10px;
	padding-right: 10px;
	overflow: hidden;
	float:none;
	font: 14px PTSN Regular;
}
#content {
    /* padding: 0 0 303px; */
	width: 1000px;
	margin: 0 auto;
}
#catalog-and-banner_block {
    width: 759px;
    height: 100%;
    margin: 0px auto;
    position: relative;
    padding-left: 240px;
}
#catalog-categories {
    width: 240px;
    height: auto;
    position: absolute;
    top: 44px;
    left: 0px;
    display: inline-block;
    z-index: 9999;
    border-right: 1px solid #cbd5d4;
    border-left: 1px solid #cbd5d4;
    border-bottom: 1px solid #cbd5d4;

    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(240,245,247) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(240,245,247)));
    background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(240,245,247) 100%);
    background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(240,245,247) 100%);
    background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(240,245,247) 100%);
    background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(240,245,247) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f5f7',GradientType=0 );
}

#catalog-categories ul
{
    list-style: none;
    text-align: left;
    margin: 0;
}

#catalog-categories ul li
{
    /*position: relative;*/
    background: url("/images/bot-category-catalog.jpg") no-repeat bottom center;
}

#catalog-categories ul li:last-child
{
    background: none;
}

#catalog-categories ul li a
{
    padding: 6px 0 6px 28px;
    margin: 0 0 0 12px;
    font: 18px PTSN Regular;
    color: #020000;
    text-decoration: none;
    display: block;
}

#catalog-categories ul li:hover
{
    padding-bottom: 6px;
}

#catalog-categories ul li:hover a
{
    padding: 0 0 0 28px;
    margin: 6px 0 0 12px;
    background: #e4edef;
    font: 18px PTSN Bold;
    /*z-index: 10;*/
}

#catalog-categories ul li:hover .catalog-subcategories
{
    display: block;
}

#catalog-categories ul li:hover .catalog-subcategories li
{
    padding-bottom: 0px;
}

#catalog-categories ul ul
{
    margin: 0 0 0 17px;
}

#catalog-categories ul li.subtitle ul
{
    margin-left: 5px;
}

#catalog-categories ul li.subtitle a
{
    font: 18px PTSN Bold;
    padding: 0;
    margin: 5px 0px;
}

#catalog-categories ul li.subtitle li:first-child a
{
    margin-top: 0px;
}

#catalog-categories ul li.subtitle li:last-child a
{
    margin-bottom: 0px;
}

#catalog-categories ul li.subtitle ul a
{
    font: 16px PTSN Regular;
    padding: 2px 0;
}

.catalog-subcategories
{
    padding-right: 10px;
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    left: 240px;
    top: 6px;
    z-index: 9999;
    background: #e4edef;

    -webkit-box-shadow:  5px 5px 8px 0px rgba(151, 155, 155, 0.5);
    box-shadow:  5px 5px 8px 0px rgba(151, 155, 155, 0.5);
}

.catalog-subcategories table tr td
{
    vertical-align: top;
    white-space: nowrap;
    padding: 0 5px 0 0;
}

#catalog-categories .catalog-subcategories ul li
{
    background: none
}

#banner {
    /*background: url(/images/banner.jpg) no-repeat;*/
    width: 740px;
/*    height: 250px;*/
    margin: 20px 0px 0px 17px;
    display: inline-block;
}

#about_company_block {
    width: 1000px;
    height: 100%;
    margin: 0px auto;
    font: 16px PTSN Regular;
    color: #7a7777;
    overflow: hidden;
}
#about_company_block h1 {
    font-size: 22px;
}
#about_company_block .title {
    font: 19px PTSN Bold;
    color: #000000;
    margin-bottom: -1px;
    padding-top: 20px;
}
/* Sidebar Left */
#sideLeft {
    float: left;
    width: 210px;
    position: relative;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(left,  rgb(255,255,255) 0%, rgb(225,235,237) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(225,235,237)));
    background: -webkit-linear-gradient(left,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: -o-linear-gradient(left,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: -ms-linear-gradient(left,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    background: linear-gradient(to right,  rgb(255,255,255) 0%,rgb(225,235,237) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1ebed',GradientType=1 );
}
.navigation
{
    width: 210px;
	min-height: 200px;
    list-style: none;
    margin: 0px;
}
.navigation span, #comment .subtext
{
    color: #808285;
    font: 13px "PTSN Regular";
}
.navigation li
{
    position: relative;
    min-height: 26px;
    margin: 3px 0;
    padding: 2px 0 0 0;
}

.pd-options ul li img, .pd-action ul li img, .catalog-subcategories img, .middle-menu img, ul.navigation li ul li.active img 
{
    display: none;
}

.navigation li img
{
    display: none;
    position: absolute;
    top: 0;
    right: -15px;
    height: 100%;
    width: 15px;
}

.navigation li.active > a img
{
    display: block;
}

.navigation li a span
{
    margin-left: 4px;
}

li ul
{
    list-style: inherit;
}
.navigation li a
{
    margin: 0 0 0 2px;
    text-decoration: none;
    border-bottom: 1px solid #9fa4a6;
    font: 18px "PTSN Regular";
    color: #2550a0;
}
.navigation li a:hover
{
    /*font-family: "PTSN Bold";*/
    color: #e23333;
}

.navigation li.active > a
{
    position: relative;
    min-height: 26px;
    background: #dddddd;
    display: block;
    padding-left: 2px;
    border-bottom: none;
    font: 18px "PTSN Bold";
    color: #000000;
}
.navigation li.active > a:hover
{
    border-bottom: none;
    font: 18px "PTSN Bold";
    color: #000000;
}

.navigation ul li.active
{
    margin-left: -10px;
    padding: 0;
    padding-left: 10px;
}

.navigation ul li a
{
    font: 16px "PTSN Regular";
}
.navigation li a {
margin: 0 0 0 2px;
text-decoration: none;
border-bottom: 1px solid #9fa4a6;
font: 18px "PTSN Regular";
color: #2550a0;
}
.navigation ul
{
    list-style: none;
    margin: 0 0 0 10px;
}

.navigation li a div
{
    width: 0;
    height: 0;
    float: right;
    position: relative;
    top: -3px;
    cursor: default;
}

.controls
{
	line-height: 30px;
}

.image
{
	width: 200px;
	border: #9fa4a6 solid 1px;
	padding: 2px;
	border-radius: 2px;
	margin: 10px;
	float: right;
}

.various-product-block .tabbs table
{
	padding: 0px;
	border-collapse: collapse;
	border: none;
	width: 99%;
	height: 100%;
}

.various-product-block .pirobox_content table, tbody, tr, th, td, td.name
{
	margin: 0;
	padding: 0;
	border: none;
}

.various-product-block .nonactive:hover span
{
    color: #CE0D0E;
}

.various-product-block .tab-product .name:hover a
{
    color: #CE0D0E;
}

body .various-product-block .name .active
{
	cursor: pointer;
	font: 18px PTSN Bold;
	padding: 11px 15px 15px 15px;
	border: 1px solid #CCD6D5;
	border-bottom: 1px solid #FFF;
	position: relative;
	bottom: -1px;
    background: #DAE6EB;
    background: -moz-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DAE6EB), color-stop(100%, #FFF));
    background: -webkit-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
    background: -o-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
    background: -ms-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
    background: linear-gradient(to bottom, #DAE6EB 0%, #FFF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dae6eb', endColorstr='#ffffff', GradientType=0);
}

.various-product-block .name .nonactive
{
	cursor: pointer;
	color: #030000;
	font: 18px PTSN Regular;
	padding: 11px 15px 15px 15px;
}

.various-product-block .nonactive span
{
	border-bottom: 1px dotted #9FA4A6;
}

.various-product-block .pd-usd-price
{
    color: #9ea0a2;
    font: 16px PTSN Regular;
    margin: 0 0 0 5px;
	text-align: center;
}

.various-product-block .tab-product
{
	width: 174px;
	display: inline-block;
    /*float: left;*/
	margin: 6px 8px;
}

body div .btn-buy-order, body div .btn-buy-soon, body div .btn-buy-buy {
    width: 119px;
    display: inline-block;
    text-decoration: none;
    font: 24px PTSN Bold;
    color: #ffffff;
    line-height: 38px;
    margin: 3px 0 2px 0px;
    text-align: center;

    background: rgb(248,31,32);
    background: -moz-linear-gradient(top,  rgb(248,31,32) 0%, rgb(185,4,5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,31,32)), color-stop(100%,rgb(185,4,5)));
    background: -webkit-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -o-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -ms-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: linear-gradient(to bottom,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
body div .btn-buy-order:hover , body div .btn-buy-soon:hover , body div .btn-buy-buy:hover {
    background: rgb(185,4,5);
    background: -moz-linear-gradient(top,  rgb(185,4,5) 0%, rgb(248,31,32) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(185,4,5)), color-stop(100%,rgb(248,31,32)));
    background: -webkit-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -o-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -ms-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: linear-gradient(to bottom,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90405', endColorstr='#f81f20',GradientType=0 );
}

.various-product-block .item.sub .tab-product
{
	width: 175px;
	display: inline-block;
	margin: 6px 4px;
}

.various-product-block .tab-product .thumb
{
	width: 175px;
    height: 120px;
	text-align: center;
}

.various-product-block .tab-product .name
{
	text-align: center;
}

.various-product-block .tab-product .name a
{
	width: 175px;
	height: 100%;
	color: #27489B;
	font: 18px PTSN Regular;
	border-bottom: 1px solid #9FA4A6;
	text-decoration: none;
}

.price
{
	font: 22px PTSN Bold;
	color: #020000;
	text-align: center;
}
.various-product-block .tab-product .price
{
	width: 175px;
	height: 100%;
}

.various-product-block .tab-product .price-usd
{
	width: 175px;
	height: 100%;
	text-align: center;
	font: 16px PTSN Regular;
	color: #807E7E;
}

.various-product-block .tab-product .btn
{
	width: 175px;
	height: 100%;
	border: none;
	background: none;
	padding: 3px 0 0 0;
}

.various-product-block .tab-product .btn-buy-isset {
	width: 115px;
	height: 30px;
	display: block;
	text-decoration: none;
	font: 20px PTSN Bold;
	color: #FFF;
	margin: 0 auto;
	text-align: center;
    margin-top: 3px;
    background: rgb(23,167,224);
    background: -moz-linear-gradient(top,  rgb(23,167,224) 0%, rgb(38,79,160) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(23,167,224)), color-stop(100%,rgb(38,79,160)));
    background: -webkit-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: -o-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: -ms-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: linear-gradient(to bottom,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a7e0', endColorstr='#264fa0',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.various-product-block .tab-product .btn-buy-isset:hover {
    cursor: pointer;

    background: rgb(38,79,160);
    background: -moz-linear-gradient(top,  rgb(38,79,160) 0%, rgb(23,167,224) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(38,79,160)), color-stop(100%,rgb(23,167,224)));
    background: -webkit-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: -o-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: -ms-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: linear-gradient(to bottom,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264fa0', endColorstr='#17a7e0',GradientType=0 );
}

.various-product-block .tab-product .btn-buy-buy:hover
{
	background: #264FA0;
	background: -moz-linear-gradient(top, #264FA0 0%, #17A7E0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264FA0), color-stop(100%,#17A7E0));
	background: -webkit-linear-gradient(top, #264FA0 0%,#17A7E0 100%);
	background: -o-linear-gradient(top, #264FA0 0%,#17A7E0 100%);
	background: -ms-linear-gradient(top, #264FA0 0%,#17A7E0 100%);
	background: linear-gradient(to bottom, #264FA0 0%,#17A7E0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264fa0', endColorstr='#17a7e0',GradientType=0 );
}

.various-product-block .tab-product .btn-buy-buy
{
	width: 70px;
	height: 30px;
	display: block;
	text-decoration: none;
	font: 20px PTSN Bold;
	color: #FFF;
	margin: 0 auto;
	text-align: center;
	background: #F81F20;
	background: -moz-linear-gradient(top, #F81F20 0%, #B90405 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F81F20), color-stop(100%,#B90405));
	background: -webkit-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: -o-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: -ms-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: linear-gradient(to bottom, #F81F20 0%,#B90405 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.various-product-block .name div
{
	float: left;
}

.various-product-block .tabbs .content
{
	border: 1px solid #CCD6D5;
}

.various-product-block .show
{
	display: block !important;
/*	color: #F00 !important;*/
}

.various-product-block .hide
{
	display: none;
}

.various-product-block .carousel
{
	position: relative;
	margin-bottom: 20px;
	line-height: 1;
	min-height: 220px;
}

.carousel
{
    display: inline-block;
}

.news-and-social-plugins .index-columns .item
{
	/* height: 90px; */
	font: 16px PTSN Regular;
}

.news-and-social-plugins .index-columns .all
{
	color: #BD0607;
	font: 16px PTSN Regular;
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px solid #CDD7D6;
}

.news-and-social-plugins .index-columns div.like-question
{
	font: 18px "PTSN Bold";
}

.news-and-social-plugins .index-columns div.soc-like-btn
{
	margin: 11px 0;
}

.news-and-social-plugins .index-columns .blue-line
{
	width: 50%;
	height: 7px;
	display: inline-block;
	margin: 0px 0px 2px 5px;
	background: #17A7E0;
	background: -moz-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17A7E0), color-stop(100%, #284095));
	background: -webkit-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -o-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -ms-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: linear-gradient(to bottom, #17A7E0 0%, #284095 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a7e0', endColorstr='#284095', GradientType=0);
}

.news-and-social-plugins .index-columns .title
{
	font: 19px PTSN Bold;
	color: #010000;
	display: inline-block;
	line-height: 19px;
	margin: 0;
}

.news-and-social-plugins .index-columns img
{
	margin: -5px 4px 0px 1px;
	display: inline-block;
}

.news-and-social-plugins
{
	margin-top: 20px; 
}

.news-and-social-plugins .index-columns
{
	width: 32%;
	float: left;
	margin-right: 1%;
	overflow: hidden;
	white-space: nowrap;
}

.bottom-tabs
{
	width: 1000px;
	background-color: #fff;
	margin: 0 auto;
	padding: 5px 0;
	-webkit-box-shadow: 1px 1px 5px 5px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 5px 5px rgba(146, 148, 149, 0.75);
}

.bottom-tabs-container
{
	width: 100%;
	position: fixed;
	z-index: 9999;
	bottom: 0px;
	left: 0;
}

.tabNames
{
	position: relative;
	border-bottom: 1px solid #999;
}

.tabName
{
	position: relative;
	bottom: -1px;
	cursor: pointer;
	display: inline-block;
	font: 17px PTSN Regular;
	padding: 5px 11px 11px 11px;
}

.tabName.active
{
	border-left: 1px #999 solid;
	border-right: 1px #999 solid;
	color: #010000;
	font: 18px PTSN Bold;
	background: #DAE6EB;
	background: -moz-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DAE6EB), color-stop(100%, #FFF));
	background: -webkit-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: -o-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: -ms-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: linear-gradient(to bottom, #DAE6EB 0%, #FFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dae6eb', endColorstr='#ffffff', GradientType=0);
}

.bottom-tabs .compareProduct
{
	width: 200px;
	margin: 20px 0 0 40px;
	float: left;
}

.bottom-tabs .compareProduct td
{
	text-align: center;
}

.compareProduct a
{
	font: 15px PTSN Regular;
	color: #2550A0;
	text-decoration: none;
	border-bottom: 1px dotted #9FA4A6;
}

.compareProduct a:hover
{
	color: #E23333;
}

.bottom-tabs .compareProduct .name
{
	margin-bottom: 10px;
}

.compareProduct .name a
{
	font: 18px/30px PTSN Regular;
}

#productRating .star
{
    width: 20px;
	height: 20px;
    background: url(../images/stars.png) no-repeat 0 0px;
    background-size: cover;
}

#productRating .star.on a, #productRating .star.on span
{
	background-position: 0 -40px;
}

.bottom-tabs .price
{
	font: 28px 'PTSN Bold';
}

.bottom-tabs .pd-usd-price
{
	font: 18px 'PTSN Regular';
}

.bottom-tabs .various-product-block .tab-product .btn-buy-buy
{
	margin-top: 5px;
	width: 90px;
	height: 35px;
	padding-top: 5px;
}

.bottom-tabs .name
{
	background: none;
}

.bottom-tabs .various-product-block .tab-product .btn-buy-isset
{
	margin-top: 5px;
	width: 125px;
	height: 35px;
	padding-top: 5px;
}

.bottom-tabs #compare-href
{
	padding-top: 20px;
}

.bottom-tabs #compare-href a
{
	text-decoration: none;
	font: 24px "PTSN Bold";
	color: #FFF;
	margin: 0 0 0 420px;
	padding: 8px 18px;
	background: #17A7E0;
	background: -moz-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17A7E0), color-stop(100%, #284095));
	background: -webkit-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -o-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -ms-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: linear-gradient(to bottom, #17A7E0 0%, #284095 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a7e0', endColorstr='#284095', GradientType=0);
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.bottom-tabs #compare-href a:hover
{
	background: #284095;
	background: -moz-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #284095), color-stop(100%, #17A7E0));
	background: -webkit-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: -o-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: -ms-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: linear-gradient(to bottom, #284095 0%, #17A7E0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284095', endColorstr='#17a7e0', GradientType=0);
}

.compare
{
	font: PTSN Regular;
}

.compare a
{
	font: 15px PTSN Regular;
	color: #2550A0;
	text-decoration: none;
	border-bottom: 1px dotted #9FA4A6;
}

.compare .name
{
	margin-bottom: 10px;
}

.compare .name a
{
	font: 18px/30px PTSN Regular;
}

.compare a:hover
{
	color: #E23333;
}

body a.imgUrl
{
	border-bottom: none;
	display: block;
}

.compare .imgUrl img
{
	margin-bottom: 0px;
}

.compare img
{
	margin-bottom: 5px;
}

.compare .title
{
	font-size: 30px;
	line-height: 50px;
}

.compare td
{
	padding: 0px;
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	vertical-align: middle;
}

.compare td:last-child
{
	width: auto;
	overflow-x: hidden;
}

.compare table
{
	width: 100%;
}

.compare .topTable
{
	margin-top: 15px;
}

.compare .topTable td
{
	text-align: center;
}

.compare .topTable tr.title td
{
	font: 20px/20px PTSN Bold;
	padding: 10px;
}

.compare .topTable .leftTable
{
	
}

.compare .topTable .leftTable td
{
	font: 20px/20px PTSN Bold;
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	border-right: 2px solid #d6e1e5;
}

.compare .overflowDiv
{
	overflow: hidden;
}

.compare .topTable #productTitle
{
	height:145px;
	vertical-align: middle;
}

.compare .topTable #productRating
{
	height:110px;
}

.compare .topTable #productPrice
{
	height:130px;
}

.compare .rightTable
{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.compare .topTable .rightTable
{
	height: 385px;
}

.compare .bottomTable .rightTable
{
	/*height: 100px;*/
	/*display: inline;*/
}

.compare .topTable .rightTable .compareCarouselItem
{
	height: 385px;
	overflow: hidden;
}

.compare .rightTable ul {
    width: 20000em;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

.compare .rightTable li {
    float: left;
}
.compare .rightTable .compareCarouselItem
{
	width: 250px;
}

.compare .topTable .rightTable table
{
	table-layout: fixed;
	width: 250px;
}

.compare .topTable .rightTable td
{
	font: 20px/20px PTSN Regular;
/*	width: 250px;
	min-width: 250px;
	max-width: 250px;*/
	height: 385px;
	border-left: 1px solid #d6e1e5;
}

.compare .bottomTable
{
	margin-bottom: 40px;
}

.compare .bottomTable td
{
	text-indent: 10px;
	font: 16px/20px PTSN Regular;
	margin-bottom: 40px;
	vertical-align: top;
}

.compare .bottomTable .leftTable td
{
	width: 250px;
	min-width: 250px;
	max-width: 250px;
	height: 20px;
}

.compare .bottomTable .rightTable td
{
/*	width: 250px;
	min-width: 250px;
	max-width: 250px;*/
	height: 20px;
	border-left: 1px solid #ffffff;
}

.compare a.carousel-control
{
	border: none;
	font-size: 26px;
}

.compare a.carousel-control img
{
	margin: 0;
}

.compare a.carousel-control.left img
{
	margin-right: 5px;
}

.compare a.carousel-control.right img
{
	margin-left: 5px;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	/* margin: -303px auto 0; */
	/* min-width: 1000px; */
	height: 303px;
	/* position: relative; */
	background:url(/images/footBgrd.jpg) repeat-x;
    font: 14px PTSN Regular;
    /* line-height: 10px; */
}
#footer a {
    /* font: 14px PTSN Regular; */
    color: #010204;
    /* line-height: 10px; */
    text-decoration: none !important;
    border-bottom: 1px solid #bec3c5;
}
#footer a:hover {
    text-decoration: none;
    color: #bd0607;
}
#footer-middle {
    width: 1000px;
    height: 303px;
    margin: 0px auto;
}
#footer-middle-top {
    /* width: 1000px; */
    height: 216px;
}
#footer-middle-top .title {
    font: 17px PTSN Bold;
}
/* #social_and_rss {
    width: 185px;
    float: left;
    margin: 24px 0px 0px 0px;
} */
#social_and_rss .social-block a {
    border: none;
}
#social_and_rss .rss_block {
    margin: 22px 0px 0px 0px;
}
#social_and_rss .rss_block p {
    padding: 7px 0px 0px 29px;
}
#social_and_rss .rss_block img {
    float: left;
}
/* #bot_menu_block {
    float: left;
    margin: 30px 0px 0px 15px;
} */
#bot_menu_block a {
    line-height: 12px;
}
/* #shedule_block {
    float: left;
    margin: 24px 0px 0px 15px;
}
#contacts_block {
    float: left;
    margin: 24px 0px 0px 15px;
} */
#contacts_block a {
    border-bottom: 1px dotted #bec3c5;
}
/* #faq_block {
    float: left;
    margin: 24px 0px 0px 15px;
} */
/* #creator_block {
    margin: 24px 8px 0px 0px;
    float: right;
    width: 140px;
    text-align: right;
    line-height: 0px;
} */
#footer-middle-bottom {
    width: 1000px;
    height: 97px;
    font: 17px PTSN Regular;
    color:#252a2c;
    text-align: center;
}
#dsq-subscribe {
    display: none;
}

.footer-columns
{	
	text-align: justify;	
	text-justify: newspaper;
	zoom:1;	
	text-align-last: kustify;	
	line-height: 0;
	font-size: 1px;	
}

.footer-columns:after 
{
	width: 100%;
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.footer-column
{
	/* float: left; */
	margin: 24px 0 0 0;
	
	text-align: left;
	display: inline-block;		
	line-height: normal;
	font-size: 16px;	
	/* border: 1px #C0C0C0 solid;	 */
	/* width: 165px; */
	vertical-align: top;
}

.compare .btn-buy-isset {
    font-size: 22px;
    text-align:center;

    color: #fff;
    border: none;
    width: 130px;

	display: inline-block;
	margin: 3px 0 2px 0px;
    background: rgb(23,167,224);
    background: -moz-linear-gradient(top,  rgb(23,167,224) 0%, rgb(38,79,160) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(23,167,224)), color-stop(100%,rgb(38,79,160)));
    background: -webkit-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: -o-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: -ms-linear-gradient(top,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    background: linear-gradient(to bottom,  rgb(23,167,224) 0%,rgb(38,79,160) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a7e0', endColorstr='#264fa0',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.compare .btn-buy-isset:hover {
    cursor: pointer;
	color: #fff;
    background: rgb(38,79,160);
    background: -moz-linear-gradient(top,  rgb(38,79,160) 0%, rgb(23,167,224) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(38,79,160)), color-stop(100%,rgb(23,167,224)));
    background: -webkit-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: -o-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: -ms-linear-gradient(top,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    background: linear-gradient(to bottom,  rgb(38,79,160) 0%,rgb(23,167,224) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264fa0', endColorstr='#17a7e0',GradientType=0 );
}
body div .btn-buy-order:hover, body div .btn-buy-soon:hover, body div .btn-buy-buy:hover, body div .btn-buy-isset:hover
{
	color: #fff;
}
body div .btn-buy-order:visited, body div .btn-buy-soon:visited, body div .btn-buy-buy:visited, body div .btn-buy-isset:visited
{
	color: #fff;
}
.delete-link {
    float: left;
    margin: -6px 0 13px 0;
}

.delete-link a {
    font: 18px/21px "PTSN Regular";
}

.delete-link a:last-of-type {
    margin: 0;
    border-bottom: 1px dashed #ccc;
}


.delete-link a:first-of-type {
    margin:0 0 0 82px;
    position: relative;
    top: 2px;
    border: none;
}

.delete-link a img {
    margin:0;
}

.add-compare {
    margin:0 0 10px 10px;
}

.add-compare a:last-of-type {
    margin-left: 7px;
    margin-top: 1px;
    font-size: 18px;
}

.add-compare a:first-of-type {
    float: left;
    border: none;
}

.compare_prods {
    overflow: hidden;
}

.compare_descript ul {
    font: 24px/27px "PTSN Bold";
    list-style-type: none;
    padding-left: 49px;
}

.compare_descript li:first-of-type {
    margin: 30px 0 80px 0;
}
.compare_descript li:last-of-type {
    margin-top: 50px;
}

.compare_descript {
    width: 141px;
    padding: 50px 62px 90px 62px;
    float: left;
    border-right: 3px solid #d6e1e5;
}

.compare-prods {
    width: 249px;
    float: left;
    border-right: 1px solid #d6e1e5;
    padding-bottom: 50px;
}

.compare-prods .comp_link_fix {
    border: none;
}

div .compare-prods:last-of-type {
    border-right:none;
}

.link_delete a {
    border-bottom: 1px dashed #ccc;
    display: inline-block;
    margin-left: 4px;
}

.compare-prods .link_delete img {
    margin: 0;
}
.compare-prods .link_delete {
    width: 80px;
    margin: 0 0 0 81px;
}

.compare-prods img {
    margin: 5px 0 0 61px;
}

.price_compare_link {
    text-align: center;
    margin: 10px 0 15px 0;
}

.rating_compare {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

.rating_compare p {
    font: 18px "PTSN Regular";
    margin: 0 0 10px 0;
    color: #9fa4a6;
}

.rating_compare a {
    margin-left: 68px;
}

.rating {
    direction: rtl;
    text-align: center;
    float: left;
    margin:0 4px 0 42px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font: 1.4em "Arial";
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #fb0909;
}

.compare_btn a {
    color: #fff;
    border: none;
    font-weight: bold;
    line-height: 30px;
}

.compare_btn a:hover {
    color: #fff;
    border: none;
}

.compare_btn  {
    padding: 5px 10px 5px 10px;
    margin: 20px 0 0 69px;
}

.compare_price p {
    text-align: center;
    font: 36px/31px "PTSN Bold";
}
.compare_price {
    margin: 0 auto;

}
.compare_price p:last-of-type {
    font: 24px/21px "PTSN Regular";
    color: #807e7e;
    margin: 15px 0 0 0;
}
.compare_characteristic {

}
.compare_characteristic p {
    color: #000101;
    font: 24px "PTSN Bold";
    margin-left: 425px;
}
.table_color {
    background: #edf2f2;
}
.compare_characteristic td {
    width: 260px;
    height: 28px;
    padding: 0 2px;
}
.compare_characteristic td:first-of-type {
    margin-right: 2px;
    width: 260px;
}

body .question {
    border: none;
    margin-left: 3px;
    display: inline-block;
}

.carousel-inner .question {
    border: none;
    margin-left: 3px;
    display: inline-block;
}


/*Compare-finish*/

/*Login-start*/
.sign-in
{
	float: right;
	margin: 10px 0 0 0;
}

.sign-in .sign-btn, .post-btn, .response-btn
{
	max-width: 270px !important;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #17A7E0;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODQwOTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
	background: -moz-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17A7E0), color-stop(100%, #284095));
	background: -webkit-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -o-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -ms-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: linear-gradient(top bottom, #17A7E0 0%, #284095 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a7e0', endColorstr='#284095', GradientType=0);
}

#comment form
{
	margin-top: 25px;
}

#comment form input[type="text"], #comment form textarea
{
	width: 100%;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #CCD6D5;
	padding: 5px 0 5px 0;
	margin-top: 5px;
	background: #F0F5F6;
	outline: none;
	font: 18px "PTSN Regular";
}

.response_form
{
	margin-left: 25px;
}

.sign-in .sign-btn
{
	float: left;
	height: 26px;
	margin: 0 3px 0 0;
	padding: 0 0 0 8px;
}

.sign-in .user-btn
{
	max-width: 270px !important;
	margin: 0 3px 0 0;
	float: left;
	padding: 0 8px 0 8px;
	height: 26px;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	
	background: #17A7E0;
	background: -moz-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17A7E0), color-stop(100%, #284095));
	background: -webkit-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -o-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: -ms-linear-gradient(top, #17A7E0 0%, #284095 100%);
	background: linear-gradient(to bottom, #17A7E0 0%, #284095 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a7e0', endColorstr='#284095', GradientType=0);
}

.sign-in .sign-btn:hover, .post-btn:hover, .response-btn:hover, .useful-btn:hover
{
	background: #284095;
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NDA5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
	background: -moz-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #284095), color-stop(100%, #17A7E0));
	background: -webkit-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: -o-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: -ms-linear-gradient(top, #284095 0%, #17A7E0 100%);
	background: linear-gradient(to bottom, #284095 0%, #17A7E0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284095', endColorstr='#17a7e0', GradientType=0);
}

.sign-in .sign-btn a
{
	margin: 0 8px 0 0;
	text-decoration: none;
	font: 18px "PTSN Regular";
	color: #FFF;
}

.galleryBox {
    padding-top: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid #f0f5f6;
    z-index: 1050;
    width: 1000px;
    margin: -320px 0 0 -500px;
    /*overflow: auto;*/
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.galleryBox h3 {
    text-align: center;
    font: 20px/21px "PTSN Bold";
    margin: 5px 0 8px 0;
}

body .galleria-info {
    width: 30%;
    top: inherit;
    bottom: -70px;
    left: 15px;
    z-index: 2;
    position: absolute;
}

body .galleria-container {
    position: relative;
    overflow: visible;
}

.gallery_header a {
    display: inline-block;
    float: right;
    margin: 3px 5px 0 0;
    width: 25px;
    height: 25px;
    background: url("/images/logincross.gif") no-repeat;
}

.gallery_header a:hover {
    background-position: -25px;
}


.galleryBox .gallery_header {
   background: url("/images/loginbgrd.gif") repeat-x;
   overflow: hidden;
   border-bottom: 1px solid #ccc;
   border-radius: 5px 5px 0 0;
}

/*.login_form .login-form {
    padding: 35px 45px 40px 45px;
    overflow: auto;
}*/

.login-form input {
    width: 73%;
    border-radius: 2px 2px 2px 2px;
    border: 1px solid #ccd6d5;
    padding: 5px 0 5px 2px;
    margin-top: 5px;
    background: #f0f5f6;
    outline: none;
    font: 18px "PTSN Regular";
}

.login-username {
    margin-bottom: 25px;
}

.login-username,.login-pass {
    font: 18px/21px "PTSN Regular";
}

.login-checkbox {
    float: right;
    margin: 20px 19px 0 0;

}

.login-checkbox label{
    font: 14px/21px "PTSN Regular";
}

.login-checkbox input {
    width: 15px;
    margin: -2px 5px 0 0;
    padding: 0;
}

.login-username label {
    float: left;
    width: 100px;
}

.login-pass label {
    float: left;
    margin:11px 50px 0 0;

}

.login-pass-btn {
    float: left;
    margin: 0 0 0 276px;
}

.login-lost-pass {
    margin-left: 50px;
}

.login-lost-pass a {
    font: 1.2em/21px "PTSN Regular";
    color: #27489b;
}

.login-border {
    border-top: 1px solid #cbd5d4;
    position: relative;
    width: 100%;
    top: 10px;
}

.login_social {
    margin: 17px 0 0 50px;
    padding: 15px 0 20px 0;
    float: left;
    width: 80%;
}

.login_social p {
    float: left;
    margin: 3px 5px 0 0;
    font: 18px/21px "PTSN Regular";
}

.login-social div {
    float: left;
    margin-left: 12px;
}

.login-form-container, #callback-form-container, #callback-response, #mounting-form-container, #mounting-response
{
	text-align: left;
	display: inline-block;
	background-color: #FFF;
	border-radius: 10px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

#callback-response, #mounting-response
{
	width: 425px;
	padding: 25px;
	font: 14px "PTSN Regular";
	position: relative;
}

#callback-response p, #mounting-response p
{
	font: 14px "PTSN Bold";
}

#callback-response div, #mounting-response div
{
	font: 16px "PTSN Regular";
}

#callback-response hr, #mounting-response hr
{
	border-top: 1px solid #DDD;
}

#call_order #callback-response .close, #content #mounting-response .close
{
	border: none !important;
}

#call_order #callback-response ul, #content #mounting-response ul
{
	list-style: none;
	margin: 0;
}

#call_order #callback-response a, #content #mounting-response a
{
	border-bottom: 1px solid #264B9D !important;
	color: #264B9D;
	font: 16px "PTSN Bold";
	display: inline-block;
	text-decoration: none;
}

#call_order #callback-response a:hover, #content #mounting-response a:hover
{
	border-bottom: none !important;
}

#callback-form-container input, #mounting-form-wrapper #mounting-form-container input, #mounting-form-wrapper #mounting-form-container textarea
{
	width: 300px;
}

#mounting-form-wrapper #mounting-form-container textarea
{
	padding-left: 0;
	padding-right: 0;
}

#callback-form-container input[type="button"], #mounting-form-wrapper #mounting-form-container input[type="button"]
{
	width: auto;
}

.login-form-container .login-form-header h3, #callback-form-container .callback-form-header h3, #mounting-form-container .mounting-form-header h3
{
	font: 20px/14px "PTSN Bold";
}

.login-form-container .login-form-content, #callback-form-container .callback-form-content, #mounting-form-container .mounting-form-content
{
	font: 16px "PTSN Regular";
	padding: 20px;
	padding-bottom: 0;
}

#callback-form-container .callback-form-content, #mounting-form-container .mounting-form-content
{
	font: 16px "PTSN Regular";
	padding: 20px 60px;
	padding-bottom: 0;
}

.login-form-container .login-form-content .help-inline, #callback-form-container .callback-form-content .help-inline, #mounting-form-container .mounting-form-content .help-inline
{
	display: block;
}

.login-form-container .login-form-content .right-block, #callback-form-container .callback-form-content .right-block, #mounting-form-container .mounting-form-content .right-block
{
	text-align: right;
}

#login-form-wrapper .login-form-content
{
    width: 351px;
}

.login-form-wrapper .login-form-container label
{
	font: 16px "PTSN Regular";
	display: inline-block;
    width: 100px;
    text-align: left;
}

#login-form-wrapper .login-form-container .controls
{
    display: inline-block;
    width: 250px;
    margin: 0;
}

#callback-form-container label, #mounting-form-container label
{
	font: 16px "PTSN Regular";
	display: block;
	width: 160px;
	max-width: 160px;
	text-align: left;
}

#callback-form-container label.subLabel, #content #mounting-form-container label.subLabel
{
	font: 13px "PTSN Regular";
	margin-top: -5px;
	color: #999;
	position: static;
	top: 0;
	left: 0;
}

.form-overlay
{
	opacity: 0.9;
	background-image: url(/css/images/overlay.png);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99998;
}
.form-content {
padding: 10px;
max-width: 600px;
overflow-x: auto;
height: inherit;
max-height: 600px;
}
#form-container .form-header { height: 25px}
.login-form-container .login-form-header, #callback-form-container .callback-form-header, #mounting-form-container .mounting-form-header, #form-container .form-header
{
	position: relative;
	background: url("/images/loginbgrd.gif") repeat-x;
	text-align: center;
	border-bottom: 1px solid #CCC;
	border-radius: 5px 5px 0 0;
}

.login-form-wrapper, #callback-form-wrapper, #callback-response-wrapper, #mounting-form-wrapper, #mounting-response-wrapper
{
	z-index: 99999;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
        background-color: rgba(92, 92, 92, 0.6);
}

.login-form-wrapper td, #callback-form-wrapper td, #callback-response-wrapper td, #mounting-form-wrapper td, #mounting-response-wrapper td
{
	vertical-align: middle;
	text-align: center;
	padding: 0;
}


.login-btn, .callback-btn, .mounting-btn
{
	border: none;
	border-radius: 3px;
	font: 18px "PTSN Bold";
    margin: 10px 0 0 0;
    padding: 6px 30px;
	color: #FFF;
	background: rgb(248,31,32);
    background: -moz-linear-gradient(top,  rgb(248,31,32) 0%, rgb(185,4,5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(248,31,32)), color-stop(100%,rgb(185,4,5)));
    background: -webkit-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -o-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: -ms-linear-gradient(top,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    background: linear-gradient(to bottom,  rgb(248,31,32) 0%,rgb(185,4,5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );
}

#mounting-btn
{
	border: none;
	border-radius: 3px;
	font: 18px "PTSN Bold";
    margin: 20px 0 0 0;
    padding: 6px 10px;
	color: #FFF;
	background: #17A7E0;
	background: -moz-linear-gradient(top, #17A7E0 0%, #264FA0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#17A7E0), color-stop(100%,#264FA0));
	background: -webkit-linear-gradient(top, #17A7E0 0%,#264FA0 100%);
	background: -o-linear-gradient(top, #17A7E0 0%,#264FA0 100%);
	background: -ms-linear-gradient(top, #17A7E0 0%,#264FA0 100%);
	background: linear-gradient(to bottom, #17A7E0 0%,#264FA0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17a7e0', endColorstr='#264fa0',GradientType=0 );
}

#mounting-btn:hover
{
	background: #264FA0;
	background: -moz-linear-gradient(top, #264FA0 0%, #17A7E0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264FA0), color-stop(100%,#17A7E0));
	background: -webkit-linear-gradient(top, #264FA0 0%,#17A7E0 100%);
	background: -o-linear-gradient(top, #264FA0 0%,#17A7E0 100%);
	background: -ms-linear-gradient(top, #264FA0 0%,#17A7E0 100%);
	background: linear-gradient(to bottom, #264FA0 0%,#17A7E0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264fa0', endColorstr='#17a7e0',GradientType=0 );
}

.callback-btn, .mounting-btn
{
	padding: 6px 10px;
}

.login-btn:hover, .callback-btn:hover, .mounting-btn:hover
{
    background: rgb(185,4,5);
    background: -moz-linear-gradient(top,  rgb(185,4,5) 0%, rgb(248,31,32) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(185,4,5)), color-stop(100%,rgb(248,31,32)));
    background: -webkit-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -o-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -ms-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: linear-gradient(to bottom,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90405', endColorstr='#f81f20',GradientType=0 );
}

.red-button
{
	text-shadow: none;
	font: 18px "PTSN Regular";
	padding-bottom: 5px;
	margin-bottom: 5px;
	border: none;
	color: #fff;
	max-width: 270px !important;
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #F81F20;
	background: -moz-linear-gradient(top, #F81F20 0%, #B90405 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F81F20), color-stop(100%,#B90405));
	background: -webkit-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: -o-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: -ms-linear-gradient(top, #F81F20 0%,#B90405 100%);
	background: linear-gradient(to bottom, #F81F20 0%,#B90405 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81f20', endColorstr='#b90405',GradientType=0 );
}

.red-button:hover
{
	color: #fff;
	background: rgb(185,4,5);
    background: -moz-linear-gradient(top,  rgb(185,4,5) 0%, rgb(248,31,32) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(185,4,5)), color-stop(100%,rgb(248,31,32)));
    background: -webkit-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -o-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: -ms-linear-gradient(top,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    background: linear-gradient(to bottom,  rgb(185,4,5) 0%,rgb(248,31,32) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b90405', endColorstr='#f81f20',GradientType=0 );
}

/*Login-end*/

/*Login-lost-start*/

.login_form .login-form-lostpass {
    padding:45px 65px 65px 80px;
}

.login_header_lost h3 {
    margin-left: 163px;
}

.login-lost-input label {
    width: 389px;
    line-height: 29px;
    margin-bottom: 10px;
    font-size: 19.6px;

}

.login-lost-input input {
    width: 100%;
}

.lost_sign_links a {
    text-decoration: none;
    color: #27489b;
}

.lost_sign_links a:first-of-type {
    border-bottom: 1px dashed #ccc;
    margin-right: 3px;
}

.lost_sign_links a:last-of-type {
    border-bottom: 1px solid #ccc;
    margin-left: 3px;
}

.login-lost-input  {
    margin-bottom: 30px;
}

.lostpass-btn a {
    color:#ffffff;
    text-decoration: none;
    margin-left: 5px;
}

.lostpass-link {
    border-bottom: 1px dashed #ccc;
    float: left;
    font: 18px/21px "PTSN Regular";
    margin: 6px 0 0 15px;
}
.lostpass-link a {
    text-decoration: none;
    color: #27489b;
}


.lostpass-btn{
    float: left;
    width: 78px;
    font: 18px PTSN Bold;
    padding: 3px 0px 7px 0;

    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgb(125,185,232) 0%, rgb(40,64,149) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,185,232)), color-stop(100%,rgb(40,64,149)));
    background: -webkit-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: -o-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: -ms-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: linear-gradient(to bottom,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#284095',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.lostpass-btn:hover {
    background: rgb(40,64,149);
    background: -moz-linear-gradient(top,  rgb(40,64,149) 0%, rgb(125,185,232) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(40,64,149)), color-stop(100%,rgb(125,185,232)));
    background: -webkit-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: -o-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: -ms-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: linear-gradient(to bottom,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284095', endColorstr='#7db9e8',GradientType=0 );
}

.lost_sign_links {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.lost_sign_links a, .lost_sign_links p {
    float: left;
    font: 18px/21px "PTSN Regular";
}

/* Order */

.header-text h1.h3
{
	margin-left: 0;
}
.header-text .h3
{
	font: 30px/27px "PTSN Bold";
	margin: 25px 0 25px 10px;
}
.header-text p
{
	color: #ff0001;
	font: 24px "PTSN Regular";
}

#tabcontent
{
	border: 1px solid #CDD7D6;
	padding: 20px 0 20px 20px;
	float: left;
	width: 979px;
	margin-bottom: 20px;
}

#registration-form
{
	width: 527px;
	float: left;
	padding-right: 50px;
	font: 18px/21px "PTSN Regular"
}

label
{
	font: 18px/21px "PTSN Regular"
}

input[type="text"], input[type="password"], select, textarea
{
	width: 100%;
	border-radius: 2px 2px 2px 2px;
	border: 1px solid #ccd6d5;
	padding: 5px 0 5px 0;
	margin-top: 5px;
	background: #f0f5f6;
	outline: none;
	font: 18px "PTSN Regular";
}

body select
{
	padding: 0;
}

#tabcontent select.control-label
{
	padding: 0;
}

#tabcontent select
{
	font: 14px "PTSN Regular";
}

#tabcontent .control-label
{
	text-align: left;
}

#tabcontent .controls
{
	margin-left: 160px;
	font: 18px/30px "PTSN Regular";
}

#content .fieldWithSubLabel .subLabel
{
	position: absolute;
	top: 35px;
	left: 160px;
	font: 14px/21px "PTSN Regular";
	color: #808285;
}

#content .fieldWithSubLabel .errorMessage
{
	padding-top: 15px;
	color: #B94A48;
}

#content .fieldWithSubLabel .subLabelNoLeft
{
	position: absolute;
	top: 35px;
	left: 0px;
	font: 13px/21px "PTSN Regular";
	color: #808285;
}

#content .fieldWithSubLabel
{
	position: relative;
}

#content .fieldWithSubLabel input
{
	width: 100%;
}

#content .fieldWithSubLabel span
{
	margin-top: 20px;
}
#nova_poshta .sub {
width: 100%;
}

.fieldWithSubLabel.sub label{padding-top: 3px;line-height: 12px !important;}
#content .fieldWithSubLabel.sub
{
	margin-top: 23px;
	margin-right: 5px;
	float: left;
}

#tabcontent a
{
	cursor: pointer;
	font-size: 18px;
	border-bottom: 1px dashed #9FA4A6;
	text-decoration: none;
	color: #27489B;
	font: 18px/24px "PTSN Regular";
}

#tabcontent a:hover
{
	color: #BD0607;
}

#tabcontent .complete_order
{
	margin: 0 0 0 160px;
}

.complete_order .cart-btn
{
	padding: 9px 10px 9px 10px;
	display: inline-block;
	margin: 20px 0;
	float: none;
}

/*#tabcontent .complete_order label
{
	font: 12px/21px "PTSN Regular";
}
*/
#tabcontent .complete_order label a
{
	/*font-size: 12px;*/
	border: none;
        border-bottom: 1px dashed #9FA4A6;
}

/*#tabcontent .complete_order p
{
	font-size: 14px;
	border: none;
}*/

.my-order
{
	float: left;
	width: 370px;
	border: 1px solid #CDD7D6;
	margin-left: 10px;
}

.my-order .header-my-order
{
	border-bottom: 1px solid #CDD7D6;
	float: left;
	width: 100%;
}
.my-order .edit-my-order {float: right;	margin: 5px 5px 0 14px; width: 226px; text-align: right;}
.my-order .header-my-order h1.h3
{
	font-size: 20px;
	padding: 0 0 0 14px;
	margin: 0;
	float: left;
	font: 20px/30px "PTSN Bold";
}

#tabcontent .my-order .edit-my-order:first-of-type a
{
	border: none;
	float: left;
	margin: 2px 8px 0 0;
}

#tabcontent .my-order .edit-my-order a:last-of-type
{
	font-size: 14px;
	line-height: 14px;
	border-bottom: 1px dashed #CDD7D6;
	margin-top: 4px;
}

.my-order .order-price
{
	display: table;
	float: left;
	width: 94%;
	margin: 8px 0 0 9px;
	padding-bottom: 2px;
	border-bottom: 1px dotted #CDD7D6;
}

.my-order .order-price.complect
{
	border-left: 2px solid #BAC4C3;
	border-bottom: none;
	margin-bottom: 10px;
	margin-left: 40px;
	padding-bottom: 10px;
}

.my-order .order-price.complect .order-price
{
	width: 89%;
}

.my-order .order-price .order-price_img
{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	width: 72px;
}

.my-order .order-price .order-price_link
{
	width: 250px;
	color: #2550A0;
	margin-left: 10px;
	margin-bottom: 15px;
}

#tabcontent .my-order .order-price .order-price_link a
{
	border-bottom: 1px solid #CCC;
    display: inline;
}

.my-order .order-price .order-price_text
{
	display: inline;
}

.my-order .order-price .cart-prod-count
{
	padding-left: 40px;
    display: inline;
    font: 18px/24px "PTSN Regular";
    color: #333;
}

.my-order .order-price .order-price_text p
{
	float: left;
	font: 18px "PTSN Regular";
}

.my-order .order-price .order-price_text p:last-of-type
{
	float: right;
	font: 18px "PTSN Bold";
	color: #333;
}

.my-order .delivery-my-order ,.my-order .commission-my-order
{
	border-top: 1px solid #CDD7D6;
	padding-bottom: 7px;
	font: 18px/21px "PTSN Regular";
}

.my-order .delivery-my-order h1.h3, .my-order .commission-my-order h1.h3 

{
	font: 18px/21px "PTSN Regular";
	margin-top: 8px;
}

.my-order .total-my-order p
{
	font: 21px "PTSN Bold";
	color: #F41D1F;
	margin: 0 12px 0 0;
}

#comment
{
	width: 100%;
}

#comment a
{
	color: #2550a0;
	border-bottom: 1px #2550a0 dotted;
	text-decoration: none;
}

#comment a:hover
{
	color: #bd0607 !important;
}

#comment a:visited
{
	color: #2550a0;
}

.comment-title
{
	position: relative;
}

.comment-title h3
{
	display: inline;
	padding-right: 5px;
}

.comment-title span
{
	color: #808285;
	position: absolute;
	top: 7px;
}

.comment-title span.sort
{
	padding-left: 60px;
	color: #000;
	position: static;
	top: 0;
}

#comment .comment-container
{
	width: 80%;
	max-width: 607px;
	word-break: break-word;
	word-wrap: break-word;
	white-space: normal;
	position: relative;
}

#comment li li .comment-container
{
	width: 100%;
	display: block;
}

.comment-container div
{
	clear: both;
	margin-top: 10px;
}

.comment-container div div
{
	clear: none;
	margin-top: 0px;
}

.comment-container div div:nth-child(2)
{
	padding-left: 5px;
}

#comment li
{
	padding-top: 10px;
	list-style: none;
}

#comment .comment-show-link
{
	padding-top: 10px;
}

#comment .comments
{
	margin-left: 0px;
}

#comment .comment-container div span
{
	position: static;
	padding-left: 5px;
	top: 0px;
	color: #808285;
}

#comment .comment-container div div span
{
	padding-left:0;
}

#comment .comment-response
{
	margin-top: 5px;
}

#comment a
{
	/*font: 13px "PTSN Regular";*/
}

.post-btn, .response-btn
{
	display: block;
	color: #FFF;
	font: 20px PTSN Regular;
	padding: 10px 5px;
	margin-top: 10px; 
	border: 0px;
}

#comment table
{
	width: 100%;
}

#comment table td
{
	padding: 0px;
}

.useful-block
{
	width: 20%;
	text-align: right;
	font: 18px "PTSN Regular";
}

#comment .useful-btn a
{
	cursor: pointer;
	color: #FFF  !important;
	font: 20px "PTSN bold";
	padding: 8px;
	display: block;
	border: none;
}

#comment .useful-btn.disabled a
{
    cursor: default;
}

#comment .useful-btn a:visited
{
	color: #FFF;
}

#comment .useful-btn a:hover
{
	color: #FFF;
}

.useful-btn, .useful-btn.disabled, .useful-btn.disabled:hover
{
	display: inline-block;
	background: #d7d8dc; /* Old browsers */
	background: -moz-linear-gradient(top, #d7d8dc 0%, #a2a3a6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d8dc), color-stop(100%,#a2a3a6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #d7d8dc 0%,#a2a3a6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #d7d8dc 0%,#a2a3a6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #d7d8dc 0%,#a2a3a6 100%); /* IE10+ */
	background: linear-gradient(to bottom, #d7d8dc 0%,#a2a3a6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d8dc', endColorstr='#a2a3a6',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
	border: none;
	border-radius: 3px;
}

.useful-btn:hover
{
/*	background: #7fff66; *//* Old browsers *//*
	background: -moz-linear-gradient(top,  #7fff66 0%, #3baa33 100%); *//* FF3.6+ *//*
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7fff66), color-stop(100%,#3baa33)); *//* Chrome,Safari4+ *//*
	background: -webkit-linear-gradient(top,  #7fff66 0%,#3baa33 100%); *//* Chrome10+,Safari5.1+ *//*
	background: -o-linear-gradient(top,  #7fff66 0%,#3baa33 100%); *//* Opera 11.10+ *//*
	background: -ms-linear-gradient(top,  #7fff66 0%,#3baa33 100%); *//* IE10+ *//*
	background: linear-gradient(to bottom,  #7fff66 0%,#3baa33 100%); *//* W3C *//*
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fff66', endColorstr='#3baa33',GradientType=0 ); *//* IE6-9 */
}

#login-form
{
	width: 527px;
	float: left;
	padding-right: 50px;
	font: 18px/21px "PTSN Regular"
}

#content .tabcontent
{
	/*border-top: 2px solid #CDD7D6;*/
}

#content .regTab a
{
	color: #000;
}

#content .regTab
{
	margin: 5px;
	margin-left: 0px;
	margin-bottom: -1px;
	padding: 2px;
	padding-bottom: 0px;
	font: 16px PTSN Regular;
	display: inline-block;
}

#content .regTab.active
{
	border: 1px #CDD7D6 solid;
	border-bottom: none;
}

#container .regTab.active
{
	margin-bottom: 0;
}

#content .regTab.active a
{
	display: inline-block;
	text-decoration: none;
	padding: 5px;
	font: 17px PTSN Bold;
	border: none;
	color: #010000;
	background: #DAE6EB;
	background: -moz-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DAE6EB), color-stop(100%, #FFF));
	background: -webkit-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: -o-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: -ms-linear-gradient(top, #DAE6EB 0%, #FFF 100%);
	background: linear-gradient(to bottom, #DAE6EB 0%, #FFF 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dae6eb', endColorstr='#ffffff', GradientType=0);
}

#confirm-form
{
	width: 527px;
	float: left;
	padding-right: 50px;
	font: 18px/21px "PTSN Regular"
}

.pd-action a, .pd-options a
{
	cursor: pointer;
}
/*Login-lost-end*/

.faq-answer {
    display: none;
}

.content_partners, .content_faq {
	border-bottom: 1px solid #CBD7D5;
	width: 100%;
	margin-bottom: 30px;
	float: left;
}

body .content_faq
{
	border-bottom: none;
}

.content_partners .partners-group ul table
{
	width: 100%;
	margin-bottom: 30px;
}

.content_partners .partners-group ul table td
{
	vertical-align: top;
}

.content_partners .partners-group ul table td a
{
	font: 16px "PTSN Bold";
}

.content_partners .partners-group ul table td a.more
{
	cursor: pointer;
	float: right;
	color: #BD0607;
	font-style: italic;
	padding-top: 10px;
	margin-right: 10px;
	font-family: "PTSN Italic";
}

.content_partners .partners-group ul table td a.more:hover
{
	border: none;
}

.content_partners a, .content_faq a {
	text-decoration: none;
	color: #27489B;
	border-bottom: 1px dotted #CCC;
	font: 18px/24px "PTSN Regular";
}

.content_partners a:hover, .content_faq a:hover {
	color: #BD0607;
}

.partners h3, .faq h3 {
	font: 30px/27px "PTSN Bold";
	margin: 25px 0 25px 10px;
}

.content_partners .partners-group, .content_faq .question-faq {
	width: 737px;
}

.content_faq .question-faq {
	border-bottom: 1px solid #CBD7D5;
	margin-bottom: 10px;
}

.content_partners .partners-group p {
	font: 24px "PTSN Bold";
	margin-top: 15px;
}

.content_faq p {
	font: 24px "PTSN Bold";
	margin-top: 15px;
    margin-bottom: 4px;
	display: inline-block;
}

.content_partners .partners-group ul, .content_faq ul {
	font: 16px/21px "PTSN Regular";
	list-style-type: none;
	margin: 0;
}

.content_partners .partners-group ul li a, .content_faq ul li a {
	border-bottom: 1px dotted #CCC;
}

.content_partners .partners-group ul p, .content_faq .faq-notify p {
	font: 16px/21px "PTSN Regular";
	margin-top: 0px;
}

.content_partners .arrow-up, .content_faq .arrow-up {
	float: right;
	margin: 25px 0 0 0;
	width: 90px;
}

.content_partners .arrow-up a, .content_faq .arrow-up a {
	border: none;
	color: #CBD7D5;
	font: 14px "PTSN Regular";
}

.content_partners .arrow-up a img, .content_faq .arrow-up a img {
	margin-left: 4px;
	margin-bottom: 6px;
}

.support-table
{
	width: 100%;
	text-align: left;
}

.support-table td
{
	border-bottom: 1px solid #CDD7D6;
}

.support-table .img-link
{
	min-width: 50px;
	width: 50px;
}

#support-search .support-input
{
	font: 14px "PTSN Regular";
	width: 200px;
}

#support-search table
{
	float: left;
}

#support-search div
{
	padding-top: 44px;
}

#support-search #btn {
    width: 78px;
    height: 26px;
    border: none;
    font: 18px PTSN Bold;
    color:#ffffff;
    margin: 0px 0px 5px 5px;
    padding: 0 0px 5px 0;
    cursor: pointer;

    background: rgb(125,185,232);
    background: -moz-linear-gradient(top,  rgb(125,185,232) 0%, rgb(40,64,149) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(125,185,232)), color-stop(100%,rgb(40,64,149)));
    background: -webkit-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: -o-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: -ms-linear-gradient(top,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    background: linear-gradient(to bottom,  rgb(125,185,232) 0%,rgb(40,64,149) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#284095',GradientType=0 );

    -webkit-box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow:  1px 1px 3px 1px rgba(146, 148, 149, 0.75);

    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#support-search #btn:hover {
    background: rgb(40,64,149);
    background: -moz-linear-gradient(top,  rgb(40,64,149) 0%, rgb(125,185,232) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(40,64,149)), color-stop(100%,rgb(125,185,232)));
    background: -webkit-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: -o-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: -ms-linear-gradient(top,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    background: linear-gradient(to bottom,  rgb(40,64,149) 0%,rgb(125,185,232) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#284095', endColorstr='#7db9e8',GradientType=0 );
}

.list-view .summary
{
	margin: 0 0 30px 0;
	text-align: left;
}

.content_term
{
	margin: 20px 0;
}

.content_term a
{
	text-decoration: none;
	color: #27489B;
	border-bottom: 1px dotted #CCC;
	font: 16px "PTSN Bold";
}

.content_term a:hover
{
	color: #BD0607;
}

.content_term div
{
	font: 16px/21px "PTSN Regular";
	margin-top: 0px;
}

.content_term span
{
	padding-right: 10px;
	font: 14px "PTSN Regular";
	color: #999;
}

.alphabel a
{
	font: 18px "PTSN Bold";
}

.pd-code span
{
	display: none;
}

#add-address
{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: right;
}

#add-phone
{
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 20px;
	clear: right;
}

.ui-autocomplete
{
	max-height: 400px;
	overflow-y: auto;
	z-index: 9999 !important;
}

body .image-container .small-img:hover
{
    cursor: pointer;
}

.small-image-container
{
    height: 67px;
    width: 67px;
    border: 1px solid #CDD7D6;
    padding: 1px;
    margin-top: 4px;
    margin-right: 4px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

body div a.nohover-pd-a:hover
{
    color: #808080;
}

.news-rows {
	margin: 5px 0 0 0;
}

.news-item {
	white-space: normal;
}

.clear {
	clear: both;
	height: 10px;
}

.news-item .text {
	margin: 5px 0 0 0;
}

#wrapper .blue-button
{
    text-shadow: none;
    font: 16px "PTSN Bold";
    padding: 2px 10px 4px 10px;
    margin-bottom: 5px;
    border: none;
    color: #fff;
    max-width: 270px !important;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    box-shadow: 1px 1px 3px 1px rgba(146, 148, 149, 0.75);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #17A7E0;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODQwOTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #17A7E0 0%, #284095 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #17A7E0), color-stop(100%, #284095));
    background: -webkit-linear-gradient(top, #17A7E0 0%, #284095 100%);
    background: -o-linear-gradient(top, #17A7E0 0%, #284095 100%);
    background: -ms-linear-gradient(top, #17A7E0 0%, #284095 100%);
    background: linear-gradient(top bottom, #17A7E0 0%, #284095 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17a7e0', endColorstr='#284095', GradientType=0);
}

#wrapper .blue-button:hover
{
    background: #284095;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4NDA5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
    background: -moz-linear-gradient(top, #284095 0%, #17A7E0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #284095), color-stop(100%, #17A7E0));
    background: -webkit-linear-gradient(top, #284095 0%, #17A7E0 100%);
    background: -o-linear-gradient(top, #284095 0%, #17A7E0 100%);
    background: -ms-linear-gradient(top, #284095 0%, #17A7E0 100%);
    background: linear-gradient(to bottom, #284095 0%, #17A7E0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#284095', endColorstr='#17a7e0', GradientType=0);
}
.confirm-order {
	background-color: #E2FFFD;
	border: solid 1px #98A5A4;
	border-radius: 4px;
	font: 16px PTSN Regular;
	margin: 5px 0 0 30px;
	background: url('/images/footBgrd.jpg');
	padding: 10px;
	background-repeat: repeat;
	background-position: -1px -1px;
	color: black;
}

body .galleria-thumbnails .galleria-image
{
    box-shadow: 0px 0px 3px #2550a0;
}

#sub-categories-block-row .category-item-sub a:hover
{
    color: #CE0D0E;
}

.cart-table a:hover
{
    color: #CE0D0E;
}

#ordering > a
{
    border-bottom: 1px dashed #2550a0;
    text-decoration: none;
}
.img-vert {
    height: 120px;
    width: 120px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.auth-services.clear {height: inherit;}
.auth-service {width: 35px;}
.auth-link {font-size: 12px !important;border: none !important;}
.auth-link {font-size: 12px !important;border: none !important;}
.hover_color:hover { color: #bd0607 !important; }